Repository iterative/dvc: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

readme: improve and reformat How it works
  README.rst
Due: none

Revert "readme: roll back non-vscode changes"
  README.rst
Due: none

feat: allow --jobs without remote in dvc add and added core.jobs config parameter
  dvc/config_schema.py
  dvc/fs/__init__.py
  dvc/output.py
  dvc/repo/add.py
  dvc/stage/__init__.py
  tests/unit/command/test_add.py
  tests/unit/remote/test_remote.py
Due: mypy, pylint

readme: drop table of contents
  README.rst
Due: none

exp branch: update -h stdout
  dvc/commands/experiments/branch.py
Due: mypy, pylint

exp: init: Use `persist: true` if checkpoint.
  dvc/repo/experiments/init.py
  dvc/stage/utils.py
  tests/func/experiments/test_init.py
Due: mypy, pylint

introduce new `dvc data status` command
  dvc/cli/command.py
  dvc/cli/parser.py
  dvc/commands/data.py
  dvc/repo/__init__.py
  dvc/repo/data.py
  tests/unit/command/test_compat_flag.py
Due: mypy, pylint

deps: bump dvc-data to 0.1.2
  setup.cfg
Due: none

Delete test_gdrive.py
  tests/unit/remote/test_gdrive.py
Due: pylint

add tests for data:status command
  dvc/commands/data.py
  dvc/repo/data.py
  setup.cfg
  tests/func/test_data_status.py
  tests/unit/command/test_data_status.py
Due: mypy, pylint

deps: bump dvc-data to 0.1.3
  setup.cfg
Due: none

use M fixture for concise tests
  tests/func/test_data_status.py
Due: pylint

deps: bump dvc-data to 0.1.4
  dvc/fs/__init__.py
  setup.cfg
Due: mypy, pylint

data status: fix untracked files output for subdir
  dvc/repo/data.py
  tests/func/test_data_status.py
Due: mypy, pylint

plots: Replace hardcoded TEMPLATES_CHOICES
  dvc/commands/plots.py
  tests/unit/command/test_plots.py
Due: mypy, pylint

fs: gdrive: add gdrive_acknowledge_abuse
  dvc/config_schema.py
  setup.cfg
Due: mypy, pylint

utils: remove dead code
  dvc/utils/__init__.py
Due: mypy, pylint

readme: add exps to quickstart
  README.rst
Due: none

readme: link to docs for related tech
  README.rst
Due: none

queue: clean local `EXEC_HEAD` & `EXEC_BASELINE` after we run exp with queue.
  dvc/repo/experiments/executor/local.py
  tests/unit/repo/experiments/queue/test_local.py
Due: mypy, pylint

cli/log: handle SIGPIPE errors
  dvc/cli/__init__.py
  dvc/logger.py
Due: mypy, pylint

data status: optimize printing status list
  dvc/commands/data.py
  tests/unit/command/test_data_status.py
Due: mypy, pylint

data status: add spinners during diff
  dvc/repo/data.py
Due: mypy, pylint

exp run: workspace status wrong
  dvc/repo/experiments/queue/workspace.py
  tests/func/experiments/test_experiments.py
Due: mypy, pylint

Update dvc/repo/experiments/queue/workspace.py
  dvc/repo/experiments/queue/workspace.py
Due: mypy, pylint

Path conditions:
  mypy: any of: ^dvc/ and \.py$
  pylint: any of: \.py$
