Repository iterative/dvc: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

default_language_version:
  python: python3

ci:
  skip: [mypy, pylint, dvc-pre-commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
        exclude: "tests/func/utils/test_strict_yaml.py"
        args: ['--assume-in-merge']
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
        exclude: "dvc/_debug.py"
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/lovesegfault/beautysh
    rev: v6.2.1
    hooks:
      - id: beautysh
        args: ["-i", "2"]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.2.0
    hooks:
      - id: pyupgrade
        args:
          - --py38-plus
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
        additional_dependencies: ["tomli"]
  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-broken-line
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-debugger
          - flake8-string-format
  - repo: local
    hooks:
    - id: mypy
      name: mypy
      entry: mypy
      files: ^dvc/
      language: system
      types: [python]
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
  - hooks:
      - args:
          - git-hook
          - pre-commit
        entry: dvc
        id: dvc-pre-commit
        language: system
        name: DVC pre-commit
        stages:
          - commit
        verbose: true
        require_serial: true
      - args:
          - git-hook
          - pre-push
        entry: dvc
        id: dvc-pre-push
        language: system
        name: DVC pre-push
        stages:
          - push
        require_serial: true
      - always_run: true
        args:
          - git-hook
          - post-checkout
        entry: dvc
        id: dvc-post-checkout
        language: system
        minimum_pre_commit_version: 2.2.0
        name: DVC post-checkout
        stages:
          - post-checkout
        require_serial: true
    repo: local

tests: Fix flaky `test_show_only_changed`.
  tests/func/experiments/test_show.py
Due: pylint

`exp run --run-all`: re-enable --jobs concurrency (#8608)
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/queue/celery.py
  tests/unit/command/test_queue.py
  tests/unit/repo/experiments/conftest.py
Due: mypy, pylint

`queue stop --kill` can kill false `running` status tasks
  dvc/repo/experiments/queue/celery.py
  tests/unit/repo/experiments/queue/test_celery.py
Due: mypy, pylint

Make temp dir executed checkpoint experiment return result to workspace.
  dvc/repo/experiments/queue/tempdir.py
  dvc/repo/reproduce.py
  dvc/stage/exceptions.py
  dvc/stage/monitor.py
  dvc/stage/run.py
  tests/func/experiments/conftest.py
  tests/func/experiments/test_checkpoints.py
  tests/unit/repo/experiments/conftest.py
Due: mypy, pylint

GHA: remove unused env from tests workflow
  .github/workflows/tests.yaml
Due: none

`post_live_metrics`: Pass `params` on `start` event.
  dvc/repo/experiments/queue/workspace.py
  dvc/repo/experiments/utils.py
  tests/func/experiments/test_utils.py
Due: mypy, pylint

studio: add params on start event for experiments
  dvc/repo/experiments/queue/workspace.py
  tests/func/experiments/test_utils.py
Due: mypy, pylint

get/ls/import: improve clone error messages
  dvc/commands/get.py
  dvc/commands/imp.py
  dvc/scm.py
Due: mypy, pylint

exp save: update --help
  dvc/commands/experiments/pull.py
  dvc/commands/experiments/save.py
Due: mypy, pylint

Use `SIGINT` as the default signal in `queue kill`
  dvc/commands/queue/kill.py
  dvc/repo/experiments/queue/celery.py
  dvc/stage/run.py
  pyproject.toml
  tests/unit/command/test_queue.py
  tests/unit/repo/experiments/queue/test_celery.py
Due: mypy, pylint

`exp apply` can accept exp names and failed exps as target
  dvc/repo/experiments/apply.py
  tests/func/experiments/test_experiments.py
Due: mypy, pylint

Refactor `get_ref_and_entry_by_names`
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/celery.py
  dvc/repo/experiments/remove.py
  tests/unit/repo/experiments/test_remove.py
Due: mypy, pylint

internal: hoist resolver/top-level metrics/plots/params data into file level
  dvc/dvcfile.py
  dvc/repo/stage.py
  dvc/stage/__init__.py
  dvc/stage/loader.py
  tests/func/test_stage.py
  tests/unit/stage/test_loader_pipeline_file.py
Due: mypy, pylint

update: prevent re-download on every update
  dvc/stage/imports.py
  tests/func/test_update.py
  tests/unit/stage/test_stage.py
Due: mypy, pylint

exp: stop checking for unchanged experiments
  dvc/repo/experiments/exceptions.py
  dvc/repo/experiments/executor/base.py
  dvc/repo/experiments/save.py
  tests/func/experiments/test_experiments.py
  tests/func/experiments/test_save.py
Due: mypy, pylint

exp: fix tests and remove reset checks
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/executor/base.py
  tests/func/experiments/test_checkpoints.py
  tests/func/experiments/test_show.py
Due: mypy, pylint

exp save: fix help for --force
  dvc/commands/experiments/save.py
Due: mypy, pylint

investigate dvc-task
  .github/workflows/tests.yaml
Due: none

Update .github/workflows/tests.yaml
  .github/workflows/tests.yaml
Due: none

fixup
  .github/workflows/tests.yaml
Due: none

tests: move tests/unit/remote/test_http.py to dvc-http repo
  tests/unit/remote/test_http.py
Due: pylint

config: expose timeouts in http config
  dvc/config_schema.py
Due: mypy, pylint

deps: unpin dvc-http
  pyproject.toml
Due: none
