Repository iterative/dvc: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

default_language_version:
  python: python3

ci:
  skip: [mypy, pylint, dvc-pre-commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
        exclude: "tests/func/utils/test_strict_yaml.py"
        args: ['--assume-in-merge']
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
        exclude: "dvc/_debug.py"
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/lovesegfault/beautysh
    rev: v6.2.1
    hooks:
      - id: beautysh
        args: ["-i", "2"]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.2.0
    hooks:
      - id: pyupgrade
        args:
          - --py38-plus
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
        additional_dependencies: ["tomli"]
  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-broken-line
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-debugger
          - flake8-string-format
  - repo: local
    hooks:
    - id: mypy
      name: mypy
      entry: mypy
      files: ^dvc/
      language: system
      types: [python]
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
  - hooks:
      - args:
          - git-hook
          - pre-commit
        entry: dvc
        id: dvc-pre-commit
        language: system
        name: DVC pre-commit
        stages:
          - commit
        verbose: true
        require_serial: true
      - args:
          - git-hook
          - pre-push
        entry: dvc
        id: dvc-pre-push
        language: system
        name: DVC pre-push
        stages:
          - push
        require_serial: true
      - always_run: true
        args:
          - git-hook
          - post-checkout
        entry: dvc
        id: dvc-post-checkout
        language: system
        minimum_pre_commit_version: 2.2.0
        name: DVC post-checkout
        stages:
          - post-checkout
        require_serial: true
    repo: local

deps: bump dvc-data to 0.39.3
  dvc/output.py
  dvc/repo/data.py
  dvc/repo/index.py
  pyproject.toml
Due: mypy, pylint

[WIP] logging: change from dictConfig to equivalent code for creating logge… (#8985
  dvc/logger.py
Due: mypy, pylint

logger: check isatty stream to print colored logs or not
  dvc/logger.py
  tests/unit/test_logger.py
Due: mypy, pylint

logger: check isatty stream to print colored logs or not instead of depending on colorama (#8993
  dvc/logger.py
  tests/unit/test_logger.py
Due: mypy, pylint

logging: do not disable other loggers
  dvc/cli/__init__.py
  dvc/logger.py
  dvc/repo/experiments/executor/base.py
  tests/dir_helpers.py
Due: mypy, pylint

get/import: lazy import dvc.scm; reduces dvc --help by ~20%
  dvc/commands/get.py
  dvc/commands/imp.py
Due: mypy, pylint

logging: do not disable other loggers (#8995)
  dvc/cli/__init__.py
  dvc/logger.py
  dvc/repo/experiments/executor/base.py
  tests/dir_helpers.py
Due: mypy, pylint

get/import: lazy import dvc.scm; reduces dvc --help by ~20% (#8996)
  dvc/commands/get.py
  dvc/commands/imp.py
Due: mypy, pylint

update: drop worktree from cli
  dvc/commands/update.py
Due: mypy, pylint

update rich
  pyproject.toml
Due: none

Fix some mypy error.
  dvc/repo/experiments/queue/celery.py
  dvc/repo/experiments/queue/remove.py
Due: mypy, pylint

plots: Rename `template_path` to `html_template`.
  dvc/commands/plots.py
  tests/unit/command/test_plots.py
Due: mypy, pylint

Update pyproject.toml
  pyproject.toml
Due: none

deps: bump dvc-data to 0.40.1
  dvc/repo/data.py
  dvc/repo/imports.py
  dvc/repo/index.py
  dvc/repo/worktree.py
  pyproject.toml
Due: mypy, pylint

index: experimental persistent data index
  dvc/config_schema.py
  dvc/repo/index.py
Due: mypy, pylint

repo: introduce data_index
  dvc/repo/__init__.py
  dvc/repo/index.py
  tests/func/test_data_cloud.py
Due: mypy, pylint

fixes #8705 issue
  dvc/cachemgr.py
  dvc/repo/__init__.py
Due: mypy, pylint

fixes #8705 issue changes applied
  dvc/cachemgr.py
Due: mypy, pylint

brancher: add trace info when switching filesystem
  dvc/repo/__init__.py
  dvc/repo/brancher.py
Due: mypy, pylint

brancher: add trace when switching filesystem (#9022)
  dvc/repo/__init__.py
  dvc/repo/brancher.py
Due: mypy, pylint

skip test for windows
  tests/func/test_add.py
Due: pylint

Fixes #8773 issue
  dvc/config_schema.py
Due: mypy, pylint

added test for #8773 issue
  tests/func/test_add.py
Due: pylint

scm: use dulwich backend when fetching exps during clone/pull
  dvc/external_repo.py
  dvc/repo/experiments/utils.py
  dvc/scm.py
Due: mypy, pylint

Handle filenames which has ":" (#9000)
  dvc/config_schema.py
  tests/func/test_add.py
Due: mypy, pylint

scm: use dulwich backend when fetching exps during clone/pull (#9023)
  dvc/external_repo.py
  dvc/repo/experiments/utils.py
  dvc/scm.py
Due: mypy, pylint

Add `test_stash_exp`.
  tests/func/experiments/test_stash_exp.py
Due: pylint

exp: Preserve staged changes after experiments.
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/queue/base.py
  tests/func/experiments/test_stash_exp.py
Due: mypy, pylint

deps: bump scmrepo==0.1.10
  pyproject.toml
Due: none
