Repository iterative/dvc: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

default_language_version:
  python: python3

ci:
  skip: [mypy, pylint, dvc-pre-commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
        exclude: "tests/func/utils/test_strict_yaml.py"
        args: ['--assume-in-merge']
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
        exclude: "dvc/_debug.py"
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/lovesegfault/beautysh
    rev: v6.2.1
    hooks:
      - id: beautysh
        args: ["-i", "2"]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.2.0
    hooks:
      - id: pyupgrade
        args:
          - --py38-plus
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
        additional_dependencies: ["tomli"]
  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-broken-line
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-debugger
          - flake8-string-format
  - repo: local
    hooks:
    - id: mypy
      name: mypy
      entry: mypy
      files: ^dvc/
      language: system
      types: [python]
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
  - hooks:
      - args:
          - git-hook
          - pre-commit
        entry: dvc
        id: dvc-pre-commit
        language: system
        name: DVC pre-commit
        stages:
          - commit
        verbose: true
        require_serial: true
      - args:
          - git-hook
          - pre-push
        entry: dvc
        id: dvc-pre-push
        language: system
        name: DVC pre-push
        stages:
          - push
        require_serial: true
      - always_run: true
        args:
          - git-hook
          - post-checkout
        entry: dvc
        id: dvc-post-checkout
        language: system
        minimum_pre_commit_version: 2.2.0
        name: DVC post-checkout
        stages:
          - post-checkout
        require_serial: true
    repo: local

build: fpm: don't create .build-id/* files
  scripts/fpm/build.py
Due: pylint

build: fpm: don't double quote cli option
  scripts/fpm/build.py
Due: pylint

repro dry: show information if the stage is cached
  dvc/stage/cache.py
  dvc/stage/run.py
  tests/func/test_run_cache.py
  tests/unit/stage/test_run.py
Due: mypy, pylint

Create hook-asyncssh.py
  scripts/pyinstaller/hooks/hook-asyncssh.py
Due: pylint

deps: add support for hdfs in Python 3.11
  pyproject.toml
Due: none

exp list: cleanup and move logic inside repo api
  dvc/commands/experiments/ls.py
  dvc/repo/experiments/ls.py
  dvc/repo/experiments/refs.py
  dvc/repo/experiments/utils.py
  tests/func/experiments/test_experiments.py
  tests/func/experiments/test_remote.py
Due: mypy, pylint

deps: bump dvc-data to 0.28.1
  pyproject.toml
Due: none

rwlock auto solve corrupted lockfile
  dvc/rwlock.py
  tests/unit/test_rwlock.py
Due: mypy, pylint

Use a more granular lock on exp operations.
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/executor/base.py
  dvc/repo/experiments/executor/local.py
  dvc/repo/experiments/executor/ssh.py
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/celery.py
  dvc/repo/experiments/queue/tasks.py
  dvc/repo/experiments/queue/utils.py
  dvc/repo/experiments/queue/workspace.py
  dvc/repo/experiments/utils.py
  dvc/rwlock.py
  tests/func/experiments/executor/test_ssh.py
Due: mypy, pylint

Use temp branch name to avoid locking the exec branches in temp dir executor
  dvc/repo/experiments/executor/base.py
  dvc/repo/experiments/executor/local.py
  dvc/repo/experiments/executor/ssh.py
  dvc/repo/experiments/refs.py
  dvc/repo/experiments/remove.py
  dvc/repo/experiments/utils.py
Due: mypy, pylint

Move `EXEC_TMP_DIR` and `EXEC_PID_DIR` to experiment.utils
  dvc/repo/experiments/executor/base.py
  dvc/repo/experiments/executor/local.py
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/celery.py
  dvc/repo/experiments/queue/tempdir.py
  dvc/repo/experiments/utils.py
  tests/func/experiments/test_show.py
Due: mypy, pylint

index: skip data index load on empty view
  dvc/repo/index.py
Due: mypy, pylint

exp: Expose baseline and name via `run_env`.
  dvc/env.py
  dvc/repo/experiments/queue/base.py
  tests/func/experiments/test_experiments.py
Due: mypy, pylint

exp save: initial implementation
  dvc/commands/experiments/__init__.py
  dvc/commands/experiments/save.py
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/executor/local.py
  dvc/repo/experiments/save.py
  tests/func/experiments/test_experiments.py
  tests/unit/command/test_experiments.py
Due: mypy, pylint

exp save: cleanup.
  dvc/commands/experiments/save.py
  dvc/repo/experiments/executor/local.py
  tests/func/experiments/test_experiments.py
  tests/func/experiments/test_save.py
Due: mypy, pylint

exp: save: Handle staged changes.
  dvc/repo/experiments/save.py
  tests/func/experiments/test_save.py
Due: mypy, pylint

exp: save: Add `include_untracked`.
  dvc/commands/experiments/save.py
  dvc/repo/experiments/executor/local.py
  dvc/repo/experiments/save.py
  tests/func/experiments/test_save.py
  tests/unit/command/test_experiments.py
Due: mypy, pylint

deps: bump dvc-data to 0.28.2
  pyproject.toml
Due: none

Solve the unexpected error at the end of the queued tasks running
  dvc/repo/experiments/queue/utils.py
  pyproject.toml
Due: mypy, pylint

use `start_workers` instead of `spawn_worker`
  dvc/repo/experiments/__init__.py
Due: mypy, pylint

make `spawn_worker` a private method.
  dvc/repo/experiments/queue/celery.py
Due: mypy, pylint

worktree push: separate worktree from version_aware
  dvc/repo/push.py
  dvc/repo/worktree.py
Due: mypy, pylint

remote: make worktree imply version_aware
  dvc/data_cloud.py
Due: mypy, pylint
