Repository iterative/dvc: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

worktree: use view instead of full index in push/fetch
  dvc/repo/fetch.py
  dvc/repo/index.py
  dvc/repo/push.py
  dvc/repo/worktree.py
Due: mypy, pylint

push/fetch: move worktree logic into repo.worktree
  dvc/repo/fetch.py
  dvc/repo/push.py
  dvc/repo/worktree.py
Due: mypy, pylint

hydra: Use `OmegaConf.to_yaml` for dumping `.yaml` output.
  dvc/utils/hydra.py
  tests/func/utils/test_hydra.py
Due: mypy, pylint

hydra: Use `OmegaConf.to_yaml` for dumping `.yaml` output. (#8587)
  dvc/utils/hydra.py
  tests/func/utils/test_hydra.py
Due: mypy, pylint

deps: bump dvc-data to 0.27.0
  pyproject.toml
Due: none

deps: bump dvc-azure to 2.20.5
  pyproject.toml
Due: none

add: merge existing file meta for versioned dirs
  dvc/output.py
  dvc/repo/add.py
  dvc/stage/__init__.py
Due: mypy, pylint

out: move restore_fields logic into Output
  dvc/output.py
  dvc/stage/__init__.py
Due: mypy, pylint

cli: remove version action
  dvc/cli/parser.py
Due: mypy, pylint

exp: save: Remove metrics.
  dvc/commands/experiments/save.py
  tests/func/experiments/test_experiments.py
  tests/func/experiments/test_save.py
Due: mypy, pylint

exp save: initial implementation
  dvc/commands/experiments/__init__.py
  dvc/commands/experiments/save.py
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/executor/local.py
  dvc/repo/experiments/save.py
  tests/func/experiments/test_experiments.py
  tests/unit/command/test_experiments.py
Due: mypy, pylint

test_save: Fix `experiments.get_exact_name` usage
  tests/func/experiments/test_save.py
Due: pylint

Added test_infer_x_label
  tests/unit/render/test_vega_converter.py
Due: pylint

plots: set default x label
  dvc/render/converter/vega.py
Due: mypy, pylint

plots: add test for default x label
  tests/unit/render/test_vega_converter.py
Due: pylint

queue kill: we can manually mark problematic tasks as failure
  dvc/repo/experiments/queue/celery.py
  dvc/repo/experiments/queue/exceptions.py
  pyproject.toml
  tests/unit/repo/experiments/queue/__init__.py
  tests/unit/repo/experiments/queue/test_celery.py
Due: mypy, pylint

Solve the problem during executor running
  dvc/repo/experiments/queue/tempdir.py
  dvc/repo/experiments/queue/utils.py
  dvc/repo/experiments/show.py
  tests/unit/repo/experiments/test_show.py
Due: mypy, pylint

deps: bump dvc-data to 0.28.0
  pyproject.toml
Due: none

worktree: use progress bars in push/fetch
  dvc/repo/worktree.py
Due: mypy, pylint

worktree push: don't push existing versions
  dvc/repo/worktree.py
Due: mypy, pylint

ui: Fix WSL check in `open_browser`
  dvc/ui/__init__.py
  tests/unit/command/test_plots.py
Due: mypy, pylint

Update dvc/ui/__init__.py
  dvc/ui/__init__.py
Due: mypy, pylint

ui: Fix WSL check in `open_browser` (#8604)
  dvc/ui/__init__.py
  tests/unit/command/test_plots.py
Due: mypy, pylint

re-enable --jobs concurrency
  dvc/repo/experiments/__init__.py
Due: mypy, pylint

testing: api: test opening a file in subdir
  dvc/testing/api_tests.py
Due: mypy, pylint

Path conditions:
  mypy: any of: ^dvc/ and \.py$
  pylint: any of: \.py$
