Repository iterative/dvc: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

ci:
  skip: [mypy, pylint, dvc-pre-commit]

repos:
  - hooks:
      - id: black
        language_version: python3
    repo: https://github.com/ambv/black
    rev: 22.3.0
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-toml
      - id: check-yaml
  - hooks:
      - id: codespell
        args: 
          - --ignore-words-list
          - ba,datas,fo,uptodate,cachable
    repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
  - hooks:
      - id: isort
        language_version: python3
    repo: https://github.com/timothycrosley/isort
    rev: 5.10.1
  - hooks:
      - id: flake8
        language_version: python3
        additional_dependencies:
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-debugger
          - flake8-string-format
    repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
  - repo: local
    hooks:
    - id: mypy
      name: mypy
      entry: mypy
      files: ^dvc/
      language: system
      types: [python]
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
  - hooks:
      - args:
          - -i
          - "2"
        id: beautysh
        language_version: python3
    repo: https://github.com/lovesegfault/beautysh
    rev: v6.2.1
  - hooks:
      - args:
          - git-hook
          - pre-commit
        entry: dvc
        id: dvc-pre-commit
        language: system
        name: DVC pre-commit
        stages:
          - commit
        verbose: true
        require_serial: true
      - args:
          - git-hook
          - pre-push
        entry: dvc
        id: dvc-pre-push
        language: system
        name: DVC pre-push
        stages:
          - push
        require_serial: true
      - always_run: true
        args:
          - git-hook
          - post-checkout
        entry: dvc
        id: dvc-post-checkout
        language: system
        minimum_pre_commit_version: 2.2.0
        name: DVC post-checkout
        stages:
          - post-checkout
        require_serial: true
    repo: local

exp queue: separate queue implementations into their own modules
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/queue/celery.py
  dvc/repo/experiments/queue/workspace.py
  tests/unit/command/test_queue.py
  tests/unit/repo/experiments/conftest.py
Due: mypy, pylint

exp: use celery threadpool worker instead of prefork
  dvc/repo/experiments/queue/local.py
  setup.cfg
Due: mypy, pylint

dvc-task: update to 0.0.8
  setup.cfg
Due: none

dvc-task: bump to 0.0.9
  dvc/repo/experiments/queue/local.py
  setup.cfg
Due: mypy, pylint

queue remove: add remove support for short revs(#7840)
  dvc/commands/queue/remove.py
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/local.py
  dvc/repo/experiments/remove.py
Due: mypy, pylint

exp: use celery async wait in queue get_result
  dvc/repo/experiments/queue/local.py
Due: mypy, pylint

exp queue: remove queued experiments(#7591)
  dvc/cli/parser.py
  dvc/commands/queue/__init__.py
  dvc/commands/queue/kill.py
  dvc/commands/queue/remove.py
  tests/unit/command/test_queue.py
Due: mypy, pylint

exp: use a single chain for all exp tasks
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/local.py
  dvc/repo/experiments/queue/tasks.py
  dvc/repo/experiments/show.py
Due: mypy, pylint

exp queue: add separate standalone/tempdir implementation
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/executor/local.py
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/celery.py
  dvc/repo/experiments/queue/tasks.py
  dvc/repo/experiments/queue/tempdir.py
  tests/func/experiments/test_remove.py
Due: mypy, pylint

dvc-task: bump to 0.0.11
  setup.cfg
  tests/unit/repo/experiments/queue/test_local.py
Due: pylint

dvc-task: bump to 0.0.10
  setup.cfg
  tests/unit/repo/experiments/queue/test_local.py
Due: pylint

Refactor: Move `remove_revs` from `BaseStashQueue` to `expstash`
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/remove.py
  dvc/repo/experiments/stash.py
  tests/unit/repo/experiments/queue/test_remove.py
Due: mypy, pylint

Update dvc/repo/experiments/queue/base.py dvc/repo/experiments/queue/remove.py
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/celery.py
  dvc/repo/experiments/queue/remove.py
Due: mypy, pylint

exp run: update --run-all logs behavior
  dvc/repo/experiments/__init__.py
Due: mypy, pylint

Queue remove: Can remove successed,failed tasks msgs
  dvc/commands/queue/remove.py
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/celery.py
  dvc/repo/experiments/queue/remove.py
  dvc/repo/experiments/queue/workspace.py
  dvc/repo/experiments/remove.py
  tests/func/experiments/test_experiments.py
  tests/func/experiments/test_queue.py
  tests/unit/command/test_queue.py
  tests/unit/repo/experiments/queue/test_remove.py
Due: mypy, pylint

Rename _all to all_ remove some tricky func test.
  dvc/commands/queue/remove.py
  dvc/repo/experiments/queue/remove.py
  tests/func/experiments/test_queue.py
  tests/unit/command/test_queue.py
  tests/unit/repo/experiments/queue/test_remove.py
Due: mypy, pylint

exp run: preserve --temp standalone behavior
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/executor/local.py
  dvc/repo/experiments/run.py
  tests/func/experiments/test_experiments.py
Due: mypy, pylint

dvc-task: bump to 0.1.0
  setup.cfg
Due: none

exp show: use unique executor name for dvc-task & standalone tempdir exps
  dvc/repo/experiments/executor/local.py
  dvc/repo/experiments/queue/tasks.py
Due: mypy, pylint

exp show: collect running standalone tempdir experiments
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/queue/tempdir.py
  dvc/repo/experiments/queue/workspace.py
  dvc/repo/experiments/show.py
  tests/func/experiments/test_show.py
Due: mypy, pylint

queue: disable dvc-machine handling for queue
  dvc/repo/experiments/__init__.py
Due: mypy, pylint

queue status: use summary style output for worker status
  dvc/commands/queue/status.py
  tests/unit/command/test_queue.py
Due: mypy, pylint

queue: cleanup help/usage to match docs
  dvc/commands/queue/kill.py
  dvc/commands/queue/logs.py
  dvc/commands/queue/remove.py
  dvc/commands/queue/stop.py
Due: mypy, pylint

queue start: simply jobs validation
  dvc/commands/queue/start.py
Due: mypy, pylint

parsing: Support dict unpacking in `cmd`.
  dvc/config_schema.py
  dvc/parsing/__init__.py
  dvc/parsing/context.py
  dvc/parsing/interpolate.py
  tests/func/parsing/test_errors.py
  tests/func/parsing/test_interpolated_entry.py
Due: mypy, pylint

api: params_show: Raise exception if no params found.
  dvc/api/params.py
  tests/func/api/test_params.py
Due: mypy, pylint

data_cloud: remove logger check
  dvc/data_cloud.py
Due: mypy, pylint

deps: bump dvc-data
  setup.cfg
Due: none

metrics: support TOML files
  dvc/repo/metrics/show.py
  tests/func/metrics/test_show.py
Due: mypy, pylint

checkout: use dvcignore
  dvc/output.py
  tests/func/test_ignore.py
Due: mypy, pylint

Revert changes related to plots
  dvc/output.py
Due: mypy, pylint

istextfile breaks for directories
  dvc/output.py
Due: mypy, pylint

Remove unused import
  tests/func/test_run_single_stage.py
Due: pylint

deps: bump dvc-data to 0.0.20
  dvc/cli/__init__.py
  dvc/dependency/repo.py
  dvc/output.py
  dvc/repo/diff.py
  setup.cfg
  tests/func/test_add.py
  tests/func/test_external_repo.py
  tests/func/test_ignore.py
  tests/func/test_remote.py
  tests/unit/cli/test_main.py
  tests/unit/data/db/test_local.py
  tests/unit/fs/test_data.py
  tests/unit/fs/test_dvc.py
Due: mypy, pylint

deps: bump dvc-data, install dvc-data cli deps in dev mode
  setup.cfg
Due: none
