Repository iterative/dvc: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

output: fix get_entry dep object generation for imports
  dvc/output.py
Due: mypy, pylint

typecheck: fix type error in _git_info
  dvc/repo/data.py
Due: mypy, pylint

hydra: Raise error when `name` and `sweeps`.
  dvc/repo/experiments/run.py
  tests/func/experiments/test_set_params.py
Due: mypy, pylint

plots: support transposed data
  dvc/render/converter/vega.py
  tests/unit/render/test_vega_converter.py
Due: mypy, pylint

exp status: Use worker info to confirm task status
  dvc/commands/queue/status.py
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/celery.py
  dvc/repo/experiments/show.py
  tests/unit/command/test_queue.py
  tests/unit/repo/experiments/queue/test_celery.py
Due: mypy, pylint

deps: bump dvc-gdrive to 2.19.1
  pyproject.toml
Due: none

pyinstaller: drop google-api-client hooks
  scripts/pyinstaller/hooks/hook-pydrive2.py
Due: pylint

deps: bump dvc-data to 0.26.0
  pyproject.toml
Due: none

tests: garbage collect sqlite connections on Windows + Python 3.11
  tests/conftest.py
Due: pylint

fix: exp list ref heads handling
  dvc/commands/experiments/ls.py
Due: mypy, pylint

fix/8550+: cover with test
  tests/func/experiments/test_experiments.py
Due: pylint

_DVCFileSystem returns extra part on relative path. Impact on dvc.api.get_url on r2.34.0. fix #8545
  dvc/fs/dvc.py
Due: mypy, pylint

tests: import: use odb.clear()
  tests/func/test_import.py
Due: pylint

output: add PARAM_PUSH
  dvc/output.py
  dvc/schema.py
  dvc/stage/__init__.py
  dvc/stage/serialize.py
Due: mypy, pylint

output: check push in get_used_objs
  dvc/output.py
  dvc/repo/__init__.py
  dvc/repo/index.py
  dvc/repo/push.py
  tests/func/test_used_objs.py
Due: mypy, pylint

import-url: default to push: false for cloud-versioned imports
  dvc/repo/imp_url.py
Due: mypy, pylint

status -c: exclude push: false outs
  dvc/repo/status.py
Due: mypy, pylint

plots: converter: make converter infer x and y labels if not provided
  dvc/render/converter/vega.py
  tests/unit/render/test_match.py
  tests/unit/render/test_vega_converter.py
Due: mypy, pylint

plots: vega: converter: refactor
  dvc/render/converter/vega.py
  tests/unit/render/test_vega_converter.py
Due: mypy, pylint

plots: infer labels on
  dvc/render/converter/vega.py
Due: mypy, pylint

plots: vega: converter: support multi series data split and props inference
  dvc/render/convert.py
  dvc/render/converter/__init__.py
  dvc/render/converter/image.py
  dvc/render/converter/vega.py
  dvc/render/match.py
  dvc/repo/plots/__init__.py
  dvc/schema.py
  tests/func/plots/test_show.py
  tests/integration/plots/test_plots.py
  tests/unit/render/test_image_converter.py
  tests/unit/render/test_vega_converter.py
Due: mypy, pylint

plots: get_plot_id: fix naming
  dvc/utils/plots.py
Due: mypy, pylint

plots: vega: converter: notes regarding converting
  dvc/render/converter/vega.py
Due: mypy, pylint

plots: vega: converter: roll back to datapoints format
  dvc/render/converter/vega.py
  tests/unit/render/test_vega_converter.py
Due: mypy, pylint

plots: data conversion: adjust for viewer backend (#8421)
  dvc/render/convert.py
  dvc/render/converter/__init__.py
  dvc/render/converter/image.py
  dvc/render/converter/vega.py
  dvc/render/match.py
  dvc/repo/plots/__init__.py
  dvc/schema.py
  dvc/utils/plots.py
  tests/func/plots/test_show.py
  tests/integration/plots/test_plots.py
  tests/unit/render/test_image_converter.py
  tests/unit/render/test_match.py
  tests/unit/render/test_vega_converter.py
Due: mypy, pylint

parsing: Escape str interpolation in dict unpacking.
  dvc/parsing/interpolate.py
  tests/func/parsing/test_interpolated_entry.py
Due: mypy, pylint

push/fetch: move worktree logic into repo.worktree
  dvc/repo/fetch.py
  dvc/repo/push.py
  dvc/repo/worktree.py
Due: mypy, pylint

Path conditions:
  mypy: any of: ^dvc/ and \.py$
  pylint: any of: \.py$
