Repository iterative/dvc: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

deps: bump dvc-data to 0.0.22
  setup.cfg
Due: none

deps: bump dvc-data to 0.0.23
  setup.cfg
Due: none

Add more unit test and implement a new method
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/local.py
  tests/unit/repo/experiments/queue/test_local.py
Due: mypy, pylint

exp: temporarily mark tmpdir/queue tests as xfail
  tests/func/experiments/conftest.py
  tests/func/experiments/test_checkpoints.py
  tests/func/experiments/test_experiments.py
  tests/func/experiments/test_gc.py
  tests/func/experiments/test_remove.py
  tests/func/experiments/test_show.py
Due: pylint

exp: implement queue shutdown
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/local.py
  dvc/repo/experiments/queue/tasks.py
  tests/unit/repo/experiments/queue/test_local.py
Due: mypy, pylint

exp: support remove from celery queue
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/local.py
Due: mypy, pylint

exp: re-enable run --run-all with celery queue
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/run.py
  tests/func/experiments/test_experiments.py
Due: mypy, pylint

exp queue: Add two command queue start and stop (#7589)
  dvc/commands/queue/__init__.py
  dvc/commands/queue/start.py
  dvc/commands/queue/stop.py
  tests/unit/command/test_queue.py
Due: mypy, pylint

exp: autostart celery worker
  dvc/repo/experiments/__init__.py
Due: mypy, pylint

exp: start moving queueing/execution from __init__
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/local.py
Due: mypy, pylint

exp: use full task chain when checking active tasks
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/local.py
  dvc/repo/experiments/queue/tasks.py
  dvc/repo/experiments/show.py
Due: mypy, pylint

dvc-task: update to 0.0.2
  setup.cfg
Due: none

exp: generate unique worker node names per DVC repo
  dvc/repo/experiments/queue/local.py
Due: mypy, pylint

exp: return exp results for celery runs
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/local.py
Due: mypy, pylint

exp: add test_queue unit test helper for celery queue
  tests/unit/repo/experiments/conftest.py
Due: pylint

exp queue: remove queued experiments(#7591)
  dvc/cli/parser.py
  dvc/commands/queue/__init__.py
  dvc/commands/queue/kill.py
  dvc/commands/queue/remove.py
  tests/unit/command/test_queue.py
Due: mypy, pylint

tests: use pytest-celery for exp tests
  tests/func/experiments/conftest.py
  tests/func/experiments/test_experiments.py
Due: pylint

exp: follow output on run-all
  dvc/repo/experiments/__init__.py
Due: mypy, pylint

exp: use queue remove in gc
  dvc/repo/experiments/gc.py
Due: mypy, pylint

exp: use queue status in exp show
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/show.py
Due: mypy, pylint

exp: migrate workspace repro to queues
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/gc.py
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/refs.py
  dvc/repo/experiments/remove.py
  dvc/repo/experiments/stash.py
Due: mypy, pylint

dvc-task: update to 0.0.1
  setup.cfg
Due: none

exp: use dvc.daemon to run worker on windows
  dvc/daemon.py
  dvc/repo/experiments/queue/local.py
Due: mypy, pylint

exp: wait for task collection when getting exp result
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/executor/base.py
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/local.py
  dvc/repo/experiments/queue/tasks.py
Due: mypy, pylint

dvc-task: update to 0.0.6
  dvc/repo/experiments/queue/celery.py
  setup.cfg
Due: mypy, pylint

exp: add naive workspace queue
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/exceptions.py
  dvc/repo/experiments/executor/local.py
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/local.py
  dvc/repo/experiments/queue/tasks.py
  dvc/repo/experiments/utils.py
Due: mypy, pylint

exp: use queue.iter_queued to get queued status in `exp show`
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/local.py
  dvc/repo/experiments/show.py
Due: mypy, pylint

exp: enable late_ack to disable celery prefetch
  dvc/repo/experiments/queue/local.py
Due: mypy, pylint

exp: use celery threadpool worker instead of prefork
  dvc/repo/experiments/queue/local.py
  setup.cfg
Due: mypy, pylint

exp: refactor base.py into refs.py and exceptions.py
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/apply.py
  dvc/repo/experiments/base.py
  dvc/repo/experiments/branch.py
  dvc/repo/experiments/exceptions.py
  dvc/repo/experiments/executor/base.py
  dvc/repo/experiments/executor/local.py
  dvc/repo/experiments/executor/manager/base.py
  dvc/repo/experiments/executor/manager/local.py
  dvc/repo/experiments/executor/ssh.py
  dvc/repo/experiments/pull.py
  dvc/repo/experiments/push.py
  dvc/repo/experiments/refs.py
  dvc/repo/experiments/remove.py
  dvc/repo/experiments/show.py
  dvc/repo/experiments/utils.py
  tests/func/experiments/executor/test_ssh.py
  tests/func/experiments/test_checkpoints.py
  tests/func/experiments/test_experiments.py
  tests/func/experiments/test_show.py
  tests/func/test_gc.py
  tests/unit/repo/experiments/test_utils.py
Due: mypy, pylint

exp: add queue-worker plumbing command
  dvc/commands/experiments/__init__.py
  dvc/commands/experiments/queue_worker.py
Due: mypy, pylint

exp: add queue.iter_active for iterating over active exps
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/local.py
  dvc/repo/experiments/queue/tasks.py
Due: mypy, pylint

dvc-task: update to 0.0.3
  setup.cfg
Due: none

exp: start migrating info logging to ui
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/executor/base.py
  dvc/repo/experiments/queue/base.py
Due: mypy, pylint

dvc-task: update to 0.0.8
  setup.cfg
Due: none

exp: implement internal queue.kill support(#7587)
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/local.py
  dvc/repo/experiments/remove.py
  tests/unit/repo/experiments/queue/test_local.py
Due: mypy, pylint

tests: re-enable exp show celery tests
  tests/func/experiments/test_show.py
Due: pylint

exp: exclude celery stash ref from util iterators
  dvc/repo/experiments/refs.py
  dvc/repo/experiments/utils.py
Due: mypy, pylint

exp: re-enable most tmpdir/queue tests
  tests/func/experiments/conftest.py
  tests/func/experiments/test_experiments.py
  tests/func/experiments/test_gc.py
  tests/func/experiments/test_remove.py
Due: pylint

exp: implement celery exp task collection
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/local.py
  dvc/repo/experiments/queue/tasks.py
Due: mypy, pylint

Path conditions:
  mypy: any of: ^dvc/ and \.py$
  pylint: any of: \.py$
