Repository iterative/dvc: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

scm: fetch_all_exps pass kwargs to scm.fetch_refspecs (#9214)
  dvc/repo/experiments/utils.py
Due: mypy, pylint

hydra: resolve OmegaConf interpolations. (#9212)
  dvc/utils/hydra.py
  tests/func/utils/test_hydra.py
Due: mypy, pylint

erepo: pass rev instead of fs/scm
  dvc/external_repo.py
Due: mypy, pylint

erepo: set subrepos/uninitialized explicitly
  dvc/dependency/repo.py
  dvc/external_repo.py
  dvc/repo/get.py
  tests/unit/test_external_repo.py
Due: mypy, pylint

exp: enforce waiting for task completion in CI
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/queue/celery.py
  tests/func/experiments/test_apply.py
  tests/func/experiments/test_queue.py
  tests/func/experiments/test_show.py
Due: mypy, pylint

erepo: get rid of NoRemoteInExternalRepoError
  dvc/data_cloud.py
  dvc/exceptions.py
  dvc/external_repo.py
Due: mypy, pylint

erepo: get rid of NoOutputInExternalRepoError
  dvc/exceptions.py
  dvc/external_repo.py
Due: mypy, pylint

erepo: get rid of FileMissingError and PathMissingError
  dvc/api/data.py
  dvc/commands/get.py
  dvc/dependency/repo.py
  dvc/exceptions.py
  dvc/external_repo.py
  dvc/repo/__init__.py
  dvc/repo/diff.py
  dvc/repo/ls.py
  tests/func/api/test_data.py
  tests/func/test_diff.py
  tests/func/test_get.py
  tests/func/test_import.py
  tests/func/test_ls.py
Due: mypy, pylint

api: preserve legacy exc wrappers
  dvc/api/data.py
  dvc/exceptions.py
  dvc/repo/__init__.py
  tests/func/api/test_data.py
  tests/func/test_external_repo.py
  tests/func/test_get.py
Due: mypy, pylint

erepo: move legacy exceptions to api (#9228)
  dvc/api/data.py
  dvc/commands/get.py
  dvc/data_cloud.py
  dvc/dependency/repo.py
  dvc/external_repo.py
  dvc/repo/__init__.py
  dvc/repo/diff.py
  dvc/repo/ls.py
  tests/func/api/test_data.py
  tests/func/test_diff.py
  tests/func/test_external_repo.py
  tests/func/test_get.py
  tests/func/test_import.py
  tests/func/test_ls.py
Due: mypy, pylint

api: Add `exp_save`.
  dvc/api/__init__.py
  dvc/api/experiments.py
  tests/func/api/test_experiments.py
Due: mypy, pylint

tests: remark flaky queue tests as xfail on windows
  tests/func/experiments/test_apply.py
  tests/func/experiments/test_queue.py
Due: pylint

exp: use individual q for timeout dependent tests
  tests/unit/repo/experiments/queue/test_celery.py
Due: pylint

plots: handle broken symlink/TreeError
  dvc/repo/plots/__init__.py
Due: mypy, pylint

dvcfs: ls: raise FileNotFoundError on broken symlink/TreeError
  dvc/fs/dvc.py
Due: mypy, pylint

deps: bump dvc-data to 0.45.1
  pyproject.toml
Due: none

pre-commit: fix ruff errors
  dvc/commands/check_ignore.py
  dvc/commands/plots.py
  dvc/config_schema.py
  dvc/info.py
  dvc/render/converter/vega.py
  tests/func/experiments/test_experiments.py
  tests/func/experiments/test_init.py
  tests/func/test_get.py
  tests/func/test_init.py
  tests/func/test_lock.py
  tests/unit/test_logger.py
  tests/unit/test_progress.py
  tests/unit/utils/test_humanize.py
Due: mypy, pylint

pre-commit: fix flake8
  dvc/dvcfile.py
Due: mypy, pylint

dvcfs: handle broken symlink/TreeError (#9231)
  dvc/fs/dvc.py
  dvc/repo/plots/__init__.py
  pyproject.toml
Due: mypy, pylint

cleanup OutputDuplicationError code
  dvc/exceptions.py
Due: mypy, pylint

update dup output error msg
  dvc/exceptions.py
  dvc/repo/stage.py
Due: mypy, pylint

stage add: add test for duplicated output error msg
  tests/func/test_stage.py
Due: pylint

Update duplicate output error msg (#9138)
  dvc/exceptions.py
  dvc/repo/stage.py
  tests/func/test_stage.py
Due: mypy, pylint

exp: mark q remove test as flaky
  tests/func/experiments/test_queue.py
Due: pylint

exp save: Reintroduce implementation based on `executor`/`queue`.
  dvc/repo/experiments/executor/base.py
  dvc/repo/experiments/executor/local.py
  dvc/repo/experiments/save.py
  tests/func/experiments/test_save.py
Due: mypy, pylint

deps: bump scmrepo to 0.1.17
  pyproject.toml
Due: none

exp push: add trailing slash to the endpoint url
  dvc/repo/experiments/push.py
  tests/unit/repo/experiments/test_push.py
Due: mypy, pylint

exp push: add trailing slash to the endpoint url (#9240)
  dvc/repo/experiments/push.py
  tests/unit/repo/experiments/test_push.py
Due: mypy, pylint

exp branch: Make `branch` arg optional.
  dvc/commands/experiments/branch.py
  dvc/repo/experiments/branch.py
  tests/func/experiments/test_experiments.py
  tests/unit/command/test_experiments.py
Due: mypy, pylint

fetch: introduce --tree-only
  dvc/commands/data_sync.py
  dvc/dependency/repo.py
  dvc/output.py
  dvc/repo/__init__.py
  dvc/repo/fetch.py
  dvc/repo/index.py
Due: mypy, pylint

Path conditions:
  mypy: any of: ^dvc/ and \.py$
  pylint: any of: \.py$
