Repository iterative/dvc: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

default_language_version:
  python: python3

ci:
  skip: [mypy, pylint, dvc-pre-commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
        exclude: "tests/func/utils/test_strict_yaml.py"
        args: ['--assume-in-merge']
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
        exclude: "dvc/_debug.py"
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/lovesegfault/beautysh
    rev: v6.2.1
    hooks:
      - id: beautysh
        args: ["-i", "2"]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.2.0
    hooks:
      - id: pyupgrade
        args:
          - --py38-plus
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
        additional_dependencies: ["tomli"]
  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-broken-line
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-debugger
          - flake8-string-format
  - repo: local
    hooks:
    - id: mypy
      name: mypy
      entry: mypy
      files: ^dvc/
      language: system
      types: [python]
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
  - hooks:
      - args:
          - git-hook
          - pre-commit
        entry: dvc
        id: dvc-pre-commit
        language: system
        name: DVC pre-commit
        stages:
          - commit
        verbose: true
        require_serial: true
      - args:
          - git-hook
          - pre-push
        entry: dvc
        id: dvc-pre-push
        language: system
        name: DVC pre-push
        stages:
          - push
        require_serial: true
      - always_run: true
        args:
          - git-hook
          - post-checkout
        entry: dvc
        id: dvc-post-checkout
        language: system
        minimum_pre_commit_version: 2.2.0
        name: DVC post-checkout
        stages:
          - post-checkout
        require_serial: true
    repo: local

exp: use explicit scm.add(force=True) when necessary
  dvc/repo/experiments/executor/base.py
  dvc/repo/experiments/queue/base.py
  tests/func/experiments/test_experiments.py
Due: mypy, pylint

testing: expose force=... in scm_add
  dvc/testing/tmp_dir.py
  tests/func/experiments/test_experiments.py
Due: mypy, pylint

deps: bump scmrepo to 1.0.0
  pyproject.toml
Due: none

return dvcyaml path on add
  dvc/repo/artifacts.py
Due: mypy, pylint

create dir for dvc.yaml if needed
  dvc/repo/artifacts.py
Due: mypy, pylint

create dir for dvc.yaml if needed - fix
  dvc/repo/artifacts.py
Due: mypy, pylint

allow nested artifact names
  dvc/repo/artifacts.py
Due: mypy, pylint

pre-commit: Remove reduntant checks.
  .pre-commit-config.yaml
Due: none

deps: put lower bound on dvc-http
  pyproject.toml
Due: none

tests: remove unnecessary variable interpolation
  tests/func/experiments/test_save.py
Due: pylint

import-url: make version-aware and to-remote exclusive
  dvc/repo/imp_url.py
Due: mypy, pylint

fix tests
  tests/unit/command/test_imp_url.py
Due: pylint

release: remove feature flags for experiment sharing
  dvc/config_schema.py
  dvc/repo/experiments/push.py
Due: mypy, pylint

[DO NOT MERGE] release: remove feature flags for experiment sharing (#9257)
  dvc/config_schema.py
  dvc/repo/experiments/push.py
Due: mypy, pylint

add DVC_STUDIO_URL envvar
  dvc/env.py
  dvc/repo/experiments/push.py
Due: mypy, pylint

add DVC_STUDIO_URL envvar support (#9340)
  dvc/env.py
  dvc/repo/experiments/push.py
Due: mypy, pylint

utils.studio: allow any base url to be set, not just the hostname
  dvc/utils/studio.py
Due: mypy, pylint

utils.studio: allow any base url to be set, not just the hostname (#9341)
  dvc/utils/studio.py
Due: mypy, pylint

exp run: do not autostage on dvc repro
  dvc/repo/experiments/executor/base.py
  dvc/repo/reproduce.py
Due: mypy, pylint

exp run: do not autostage on dvc repro (#9344)
  dvc/repo/experiments/executor/base.py
  dvc/repo/reproduce.py
Due: mypy, pylint

exp: add structured datatypes for collection
  dvc/repo/experiments/serialize.py
Due: mypy, pylint

exp: standardize exp data collection
  dvc/repo/experiments/collect.py
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/celery.py
  dvc/repo/experiments/queue/tempdir.py
  dvc/repo/experiments/queue/workspace.py
Due: mypy, pylint

exp: use new collection in show/cli commands
  dvc/commands/experiments/show.py
  dvc/commands/queue/status.py
  dvc/repo/experiments/diff.py
  dvc/repo/experiments/show.py
  tests/func/experiments/test_checkpoints.py
  tests/func/experiments/test_show.py
  tests/unit/command/test_experiments.py
  tests/unit/repo/experiments/test_show.py
Due: mypy, pylint

exp: show active experiments first
  dvc/repo/experiments/collect.py
Due: mypy, pylint

reproduce: remove callback
  dvc/repo/experiments/executor/base.py
  dvc/repo/reproduce.py
Due: mypy, pylint

exp: drop test_queue_remove_done func test in favor of mocked unit test
  tests/func/experiments/test_queue.py
Due: pylint

exp: use mocked queue in test_apply_failed
  tests/func/experiments/test_apply.py
Due: pylint

reproduce: remove callback (#9354)
  dvc/repo/experiments/executor/base.py
  dvc/repo/reproduce.py
Due: mypy, pylint
