Repository iterative/dvc: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

Update tests/func/experiments/test_queue.py
  tests/func/experiments/test_queue.py
Due: pylint

Add flaky to a queue related test.
  tests/func/experiments/test_queue.py
Due: pylint

guard rwlock file to prevent not locked repo edits
  dvc/rwlock.py
  dvc/stage/decorators.py
  tests/unit/test_rwlock.py
Due: mypy, pylint

exp run: account for repo root when staging git-deps
  dvc/repo/reproduce.py
  tests/unit/repo/test_reproduce.py
Due: mypy, pylint

exp run: ui tweak
  dvc/repo/experiments/__init__.py
Due: mypy, pylint

exp run: ui tweak (#8124)
  dvc/repo/experiments/__init__.py
Due: mypy, pylint

deps: bump dvc-data
  setup.cfg
Due: none

deps: bump dvc-data to 0.1.16
  dvc/fs/__init__.py
  dvc/info.py
  setup.cfg
  tests/unit/test_info.py
Due: mypy, pylint

deps: bump dvc-data to 0.1.17
  setup.cfg
Due: none

tests: lockfile: use fs_path
  tests/func/test_lockfile.py
Due: pylint

gs: add endpointurl
  dvc/config_schema.py
Due: mypy, pylint

deps: bump dvc-http to 0.0.2
  setup.cfg
Due: none

deps: bump dvc-data to 0.1.18
  dvc/fs/__init__.py
  setup.cfg
  tests/unit/fs/test_ssh.py
Due: mypy, pylint

repo: data: ignore pylint false-positives
  dvc/repo/data.py
Due: mypy, pylint

fs: don't import SSHFileSystem
  dvc/fs/__init__.py
  dvc/machine/backend/base.py
  dvc/machine/backend/terraform.py
  dvc/repo/experiments/executor/ssh.py
  tests/func/experiments/executor/test_ssh.py
  tests/unit/fs/test_fs.py
  tests/unit/fs/test_ssh.py
Due: mypy, pylint

deps: bump dvc-data to 0.1.19
  dvc/fs/__init__.py
  dvc/output.py
  setup.cfg
  tests/unit/fs/test_azure.py
  tests/unit/fs/test_fs.py
  tests/unit/fs/test_hdfs.py
  tests/unit/fs/test_s3.py
  tests/unit/output/test_load.py
  tests/unit/remote/test_oss.py
  tests/unit/remote/test_remote.py
  tests/unit/remote/test_webdav.py
  tests/unit/remote/test_webhdfs.py
Due: mypy, pylint

tests: webhdfs: fix linter
  tests/unit/remote/test_webhdfs.py
Due: pylint

pyinstaller: Restrict to 5.0
  scripts/build-requirements.txt
Due: none

plots: show-vega: adjust renderers before show vega
  dvc/commands/plots.py
Due: mypy, pylint

Update README.rst
  README.rst
Due: none

Add python version label to the readme (#8146)
  README.rst
Due: none

doctor: ignore missing plugins
  dvc/info.py
Due: mypy, pylint

Delete hook-googleapiclient.model.py
  scripts/pyinstaller/hooks/hook-googleapiclient.model.py
Due: pylint

Path conditions:
  mypy: any of: ^dvc/ and \.py$
  pylint: any of: \.py$
