Repository iterative/dvc: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

default_language_version:
  python: python3

ci:
  skip: [mypy, pylint, dvc-pre-commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
        exclude: "tests/func/utils/test_strict_yaml.py"
        args: ['--assume-in-merge']
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
        exclude: "dvc/_debug.py"
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/lovesegfault/beautysh
    rev: v6.2.1
    hooks:
      - id: beautysh
        args: ["-i", "2"]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.2.0
    hooks:
      - id: pyupgrade
        args:
          - --py38-plus
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
        additional_dependencies: ["tomli"]
  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-broken-line
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-debugger
          - flake8-string-format
  - repo: local
    hooks:
    - id: mypy
      name: mypy
      entry: mypy
      files: ^dvc/
      language: system
      types: [python]
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
  - hooks:
      - args:
          - git-hook
          - pre-commit
        entry: dvc
        id: dvc-pre-commit
        language: system
        name: DVC pre-commit
        stages:
          - commit
        verbose: true
        require_serial: true
      - args:
          - git-hook
          - pre-push
        entry: dvc
        id: dvc-pre-push
        language: system
        name: DVC pre-push
        stages:
          - push
        require_serial: true
      - always_run: true
        args:
          - git-hook
          - post-checkout
        entry: dvc
        id: dvc-post-checkout
        language: system
        minimum_pre_commit_version: 2.2.0
        name: DVC post-checkout
        stages:
          - post-checkout
        require_serial: true
    repo: local

deps: bump dvc-data to 0.35.1
  dvc/api/data.py
  pyproject.toml
  tests/func/test_ignore.py
  tests/func/test_state.py
Due: mypy, pylint

build: add sqltrie dep
  pyproject.toml
Due: none

deps: bump dvc-azure to 2.21.0
  pyproject.toml
Due: none

deps: bump dvc-ssh to 2.21.0
  pyproject.toml
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

deps: bump dvc-ssh to 2.21.0 (#8865)
  pyproject.toml
Due: none

worktree: Fix `outs` filtering.
  dvc/repo/index.py
  dvc/repo/worktree.py
Due: mypy, pylint

serialize: Fix serialization of `cache: false` dirs in cloud versioning.
  dvc/stage/serialize.py
Due: mypy, pylint

data: status: use data index
  dvc/repo/data.py
  dvc/repo/index.py
Due: mypy, pylint

data: status: use data index (#8846)
  dvc/repo/data.py
  dvc/repo/index.py
Due: mypy, pylint

output: Don't serialize hash_info or meta in cloud versioning.
  dvc/output.py
  dvc/stage/serialize.py
  tests/func/test_add.py
  tests/unit/output/test_output.py
  tests/unit/stage/test_serialize_pipeline_lock.py
Due: mypy, pylint

deps: bump dvc-data to 0.35.3
  pyproject.toml
Due: none

import/import-url: try not to delete dvcfile before import/import-url completes
  dvc/repo/imp_url.py
Due: mypy, pylint

use repo.stage.create instead of internal create_stage utility
  dvc/repo/imp_url.py
Due: mypy, pylint

stage.save: Remove `merge_versioned` option.
  dvc/repo/add.py
  dvc/repo/worktree.py
  dvc/stage/__init__.py
  tests/func/test_commit.py
Due: mypy, pylint

data:status: check if change.old.hash_info is None or not
  dvc/repo/data.py
  tests/func/test_data_status.py
Due: mypy, pylint

add support for output-specific remotes
  dvc/data_cloud.py
  dvc/output.py
  dvc/repo/__init__.py
  dvc/repo/worktree.py
  dvc/stage/serialize.py
  pyproject.toml
Due: mypy, pylint

add support for output-specific remotes (#8862)
  dvc/data_cloud.py
  dvc/output.py
  dvc/repo/__init__.py
  dvc/repo/worktree.py
  dvc/stage/serialize.py
  pyproject.toml
Due: mypy, pylint

data status: check if change.old.hash_info is None or not (#8878)
  dvc/repo/data.py
  tests/func/test_data_status.py
Due: mypy, pylint

dumpd: serialize files at the end in .dvc files
  dvc/output.py
Due: mypy, pylint

import/import-url: try not to delete dvcfile before import/import-url completes (#8876)
  dvc/repo/imp_url.py
Due: mypy, pylint

dumpd: serialize files at the end in .dvc files (#8879)
  dvc/output.py
Due: mypy, pylint

queue: update kill ui messages (#8798)
  dvc/repo/experiments/exceptions.py
  dvc/repo/experiments/queue/celery.py
  tests/unit/repo/experiments/queue/test_celery.py
Due: mypy, pylint

update telemetry version
  pyproject.toml
Due: none

deps: bump dvc-data to 0.36.0
  pyproject.toml
  tests/func/test_data_status.py
Due: pylint

deps: bump dvc-data to 0.36.0 (#8885)
  pyproject.toml
  tests/func/test_data_status.py
Due: pylint

testing: add cloud versioning remote fixtures
  dvc/testing/fixtures.py
Due: mypy, pylint

fix lint issues
  .pre-commit-config.yaml
  dvc/daemon.py
  dvc/dependency/__init__.py
  dvc/output.py
  dvc/parsing/context.py
  dvc/repo/experiments/queue/celery.py
  dvc/repo/gc.py
  dvc/stage/run.py
  dvc/utils/collections.py
  dvc/utils/strictyaml.py
  pyproject.toml
  tests/func/api/__init__.py
  tests/func/test_check_ignore.py
  tests/func/test_config.py
  tests/func/test_data_cloud.py
  tests/func/test_ls.py
  tests/ruff.toml
  tests/unit/command/test_machine.py
  tests/unit/fs/test_dvc.py
  tests/unit/scm/__init__.py
  tests/unit/stage/test_serialize_pipeline_file.py
  tests/unit/test_external_repo.py
Due: mypy, pylint

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

testing: add initial versioned remote tests
  dvc/testing/remote_tests.py
Due: mypy, pylint

deps: bump dvc-data to 0.36.2
  pyproject.toml
Due: none

data_cloud: move version_aware config check to `get_remote`
  dvc/data_cloud.py
Due: mypy, pylint

output: Pass `version_aware=True` to `fs` if `files` is present.
  dvc/output.py
  tests/unit/output/test_output.py
Due: mypy, pylint
