Repository iterative/dvc: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

ci:
  skip: [mypy, pylint, dvc-pre-commit]

repos:
  - hooks:
      - id: black
        language_version: python3
    repo: https://github.com/ambv/black
    rev: 22.3.0
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-toml
      - id: check-yaml
  - hooks:
      - id: codespell
        args: 
          - --ignore-words-list
          - ba,datas,fo,uptodate,cachable
    repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
  - hooks:
      - id: isort
        language_version: python3
    repo: https://github.com/timothycrosley/isort
    rev: 5.10.1
  - hooks:
      - id: flake8
        language_version: python3
        additional_dependencies:
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-debugger
          - flake8-string-format
    repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
  - repo: local
    hooks:
    - id: mypy
      name: mypy
      entry: mypy
      files: ^dvc/
      language: system
      types: [python]
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
  - hooks:
      - args:
          - -i
          - "2"
        id: beautysh
        language_version: python3
    repo: https://github.com/lovesegfault/beautysh
    rev: v6.2.1
  - hooks:
      - args:
          - git-hook
          - pre-commit
        entry: dvc
        id: dvc-pre-commit
        language: system
        name: DVC pre-commit
        stages:
          - commit
        verbose: true
        require_serial: true
      - args:
          - git-hook
          - pre-push
        entry: dvc
        id: dvc-pre-push
        language: system
        name: DVC pre-push
        stages:
          - push
        require_serial: true
      - always_run: true
        args:
          - git-hook
          - post-checkout
        entry: dvc
        id: dvc-post-checkout
        language: system
        minimum_pre_commit_version: 2.2.0
        name: DVC post-checkout
        stages:
          - post-checkout
        require_serial: true
    repo: local

deps: bump dvc-data to 0.1.21
  dvc/fs/__init__.py
  dvc/info.py
  setup.cfg
Due: mypy, pylint

deps: bump dvc-data to 0.1.21 (#8147)
  dvc/fs/__init__.py
  dvc/info.py
  setup.cfg
Due: mypy, pylint

deps: bump dvc-data to 0.1.22
  setup.cfg
Due: none

deps: bump dvc-s3 to 0.0.2
  setup.cfg
Due: none

deps: bump dvc-data to 0.1.22 and dvc-s3 to 0.0.2 (#8153)
  setup.cfg
Due: none

build: bump ruby to 2.6
  .github/workflows/packages.yaml
Due: none

build: bump ruby to 2.6 (#8154)
  .github/workflows/packages.yaml
Due: none

ci: refactor binary executable building workflow
  .github/workflows/packages.yaml
  scripts/build.py
Due: pylint

ci: refactor binary executable building workflow (#8156)
  .github/workflows/packages.yaml
  scripts/build.py
Due: pylint

ci: drop __token__, it's the default
  .github/workflows/packages.yaml
Due: none

ci: drop __token__, it's the default (#8157)
  .github/workflows/packages.yaml
Due: none

fix error message on fetch/pull/checkout failure
  dvc/commands/data_sync.py
Due: mypy, pylint

tests: fix typo in test name
  tests/unit/output/test_output.py
Due: pylint

import-url/update: add --no-download flag
  dvc/commands/imp.py
  dvc/commands/imp_url.py
  dvc/commands/update.py
  dvc/output.py
  dvc/repo/__init__.py
  dvc/repo/fetch.py
  dvc/repo/imp_url.py
  dvc/repo/index.py
  dvc/repo/update.py
  dvc/stage/__init__.py
  dvc/stage/exceptions.py
  dvc/stage/imports.py
  tests/func/test_data_cloud.py
  tests/func/test_import_url.py
  tests/func/test_update.py
  tests/unit/command/test_imp.py
  tests/unit/command/test_imp_url.py
  tests/unit/command/test_update.py
Due: mypy, pylint

Try fixing exe pkg
  .github/workflows/packages.yaml
Due: none

fffffffffffiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiixxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  .github/workflows/packages.yaml
Due: none

run 2
  .github/workflows/packages.yaml
  .github/workflows/tests.yaml
Due: none

run3
  .github/workflows/packages.yaml
Due: none

run4
  .github/workflows/packages.yaml
Due: none

run5
  .github/workflows/packages.yaml
Due: none

rundvefdwerfewvf
  .github/workflows/packages.yaml
Due: none

install gem only on non-exe builds
  .github/workflows/packages.yaml
Due: none

exe
  .github/workflows/packages.yaml
Due: none

build: skip install fpm and ruby on Windows
  .github/workflows/packages.yaml
Due: none

build: skip install fpm and ruby on Windows (#8169)
  .github/workflows/packages.yaml
Due: none

add shallow_diff
  dvc/repo/data.py
  tests/func/test_data_status.py
Due: mypy, pylint

fix diff when no object exists by falling back to shallow_diff
  dvc/repo/data.py
  tests/func/test_data_status.py
Due: mypy, pylint

Update setup.cfg
  setup.cfg
Due: none

fs: Add fast path for the no subrepo case in _get_fs_pair()
  dvc/fs/dvc.py
Due: mypy, pylint

fs: Remove redundant .isdvc() check
  dvc/repo/ls.py
Due: mypy, pylint

fs: remove obsolete special cases
  dvc/fs/dvc.py
Due: mypy, pylint

ls: Use fs.walk(..., detail=True) instead of separate call to fs.info()
  dvc/repo/ls.py
Due: mypy, pylint

fs: remove one call to ._get_key() in _DvcFS._get_fs_pair()
  dvc/fs/dvc.py
Due: mypy, pylint

fs: simplify filtering out dvcfiles
  dvc/fs/dvc.py
Due: mypy, pylint
