Repository iterative/dvc: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

ci:
  skip: [mypy, pylint, dvc-pre-commit]

repos:
  - hooks:
      - id: black
        language_version: python3
    repo: https://github.com/ambv/black
    rev: 22.3.0
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-toml
      - id: check-yaml
  - hooks:
      - id: codespell
        args: 
          - --ignore-words-list
          - ba,datas,fo,uptodate,cachable
    repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
  - hooks:
      - id: isort
        language_version: python3
    repo: https://github.com/timothycrosley/isort
    rev: 5.10.1
  - hooks:
      - id: flake8
        language_version: python3
        additional_dependencies:
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-debugger
          - flake8-string-format
    repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
  - repo: local
    hooks:
    - id: mypy
      name: mypy
      entry: mypy
      files: ^dvc/
      language: system
      types: [python]
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
  - hooks:
      - args:
          - -i
          - "2"
        id: beautysh
        language_version: python3
    repo: https://github.com/lovesegfault/beautysh
    rev: v6.2.1
  - hooks:
      - args:
          - git-hook
          - pre-commit
        entry: dvc
        id: dvc-pre-commit
        language: system
        name: DVC pre-commit
        stages:
          - commit
        verbose: true
        require_serial: true
      - args:
          - git-hook
          - pre-push
        entry: dvc
        id: dvc-pre-push
        language: system
        name: DVC pre-push
        stages:
          - push
        require_serial: true
      - always_run: true
        args:
          - git-hook
          - post-checkout
        entry: dvc
        id: dvc-post-checkout
        language: system
        minimum_pre_commit_version: 2.2.0
        name: DVC post-checkout
        stages:
          - post-checkout
        require_serial: true
    repo: local

exp: temporarily mark tmpdir/queue tests as xfail
  tests/func/experiments/conftest.py
  tests/func/experiments/test_checkpoints.py
  tests/func/experiments/test_experiments.py
  tests/func/experiments/test_gc.py
  tests/func/experiments/test_remove.py
  tests/func/experiments/test_show.py
Due: pylint

exp: use queue remove in gc
  dvc/repo/experiments/gc.py
Due: mypy, pylint

exp: use queue.iter_queued to get queued status in `exp show`
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/local.py
  dvc/repo/experiments/show.py
Due: mypy, pylint

dvc-task: update to 0.0.3
  setup.cfg
Due: none

exp: support remove from celery queue
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/local.py
Due: mypy, pylint

dvc-task: update to 0.0.2
  setup.cfg
Due: none

exp: start migrating info logging to ui
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/executor/base.py
  dvc/repo/experiments/queue/base.py
Due: mypy, pylint

exp: add queue.iter_active for iterating over active exps
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/local.py
  dvc/repo/experiments/queue/tasks.py
Due: mypy, pylint

tests: re-enable exp show celery tests
  tests/func/experiments/test_show.py
Due: pylint

tests: use pytest-celery for exp tests
  tests/func/experiments/conftest.py
  tests/func/experiments/test_experiments.py
Due: pylint

dvc-task: bump to 0.0.12
  setup.cfg
Due: none

exp: wait for task collection when getting exp result
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/executor/base.py
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/local.py
  dvc/repo/experiments/queue/tasks.py
Due: mypy, pylint

exp queue: remove `dvc queue attach` command
  dvc/commands/queue/__init__.py
  dvc/commands/queue/attach.py
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/local.py
  tests/unit/command/test_queue.py
Due: mypy, pylint

exp queue: Add two command queue start and stop (#7589)
  dvc/commands/queue/__init__.py
  dvc/commands/queue/start.py
  dvc/commands/queue/stop.py
  tests/unit/command/test_queue.py
Due: mypy, pylint

exp queue: implement queue.logs() support
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/exceptions.py
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/local.py
  tests/func/experiments/conftest.py
  tests/func/experiments/test_experiments.py
Due: mypy, pylint

queue: ui cleanup
  dvc/commands/queue/__init__.py
  dvc/commands/queue/kill.py
  dvc/commands/queue/logs.py
  dvc/commands/queue/remove.py
  dvc/commands/queue/start.py
  dvc/commands/queue/status.py
  dvc/commands/queue/stop.py
  tests/unit/command/test_queue.py
Due: mypy, pylint

exp: add test_queue unit test helper for celery queue
  tests/unit/repo/experiments/conftest.py
Due: pylint

exp: save failed queue runs in separate stash/reflog
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/local.py
  dvc/repo/experiments/queue/tasks.py
  dvc/repo/experiments/refs.py
  tests/func/experiments/conftest.py
  tests/func/experiments/test_experiments.py
Due: mypy, pylint

exp: implement internal queue.kill support(#7587)
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/local.py
  dvc/repo/experiments/remove.py
  tests/unit/repo/experiments/queue/test_local.py
Due: mypy, pylint

exp: update tests for match_queue_entry refactor
  tests/unit/repo/experiments/queue/test_local.py
Due: pylint

queue start: give every worker a unique name
  dvc/repo/experiments/queue/local.py
Due: mypy, pylint

queue status: add some unit test to increase the coverage
  tests/unit/command/test_queue.py
Due: pylint

Add more unit test and implement a new method
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/local.py
  tests/unit/repo/experiments/queue/test_local.py
Due: mypy, pylint

exp queue: add `dvc queue logs` command
  dvc/commands/queue/__init__.py
  dvc/commands/queue/logs.py
  tests/unit/command/test_queue.py
Due: mypy, pylint

queue status: use a short rev to represent tasks
  dvc/commands/queue/status.py
  tests/unit/command/test_queue.py
Due: mypy, pylint

exp: use full task chain when checking active tasks
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/local.py
  dvc/repo/experiments/queue/tasks.py
  dvc/repo/experiments/show.py
Due: mypy, pylint

exp: enable late_ack to disable celery prefetch
  dvc/repo/experiments/queue/local.py
Due: mypy, pylint

exp: use single atomic task instead of chaining
  dvc/repo/experiments/queue/local.py
  dvc/repo/experiments/queue/tasks.py
Due: mypy, pylint

exp: re-enable run --run-all with celery queue
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/run.py
  tests/func/experiments/test_experiments.py
Due: mypy, pylint

exp: implement queue shutdown
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/local.py
  dvc/repo/experiments/queue/tasks.py
  tests/unit/repo/experiments/queue/test_local.py
Due: mypy, pylint

queue status: will show the current worker status
  dvc/commands/queue/status.py
  dvc/repo/experiments/queue/local.py
Due: mypy, pylint

exp: use dvc.daemon to run worker on windows
  dvc/daemon.py
  dvc/repo/experiments/queue/local.py
Due: mypy, pylint

Reorganized `get_queue_entry_by_names`
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/local.py
  dvc/repo/experiments/remove.py
Due: mypy, pylint

queue status: some reviewed changes.
  dvc/commands/queue/start.py
  dvc/commands/queue/status.py
  dvc/repo/experiments/queue/local.py
Due: mypy, pylint

exp run: update Ctrl+C handling for --temp and --run-all
  dvc/repo/experiments/__init__.py
Due: mypy, pylint

queue worker shutdown: disable restore
  dvc/repo/experiments/queue/local.py
Due: mypy, pylint

exp: simplify shutdown behavior
  dvc/repo/experiments/queue/local.py
  tests/unit/repo/experiments/queue/test_local.py
Due: mypy, pylint

exp queue: monitor queue status (#7590)
  dvc/commands/experiments/show.py
  dvc/commands/queue/__init__.py
  dvc/commands/queue/attach.py
  dvc/commands/queue/status.py
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/local.py
  tests/unit/command/test_queue.py
Due: mypy, pylint

exp queue: return completed exps in queue status
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/local.py
  dvc/repo/experiments/stash.py
  tests/func/experiments/test_experiments.py
Due: mypy, pylint

exp: re-enable most tmpdir/queue tests
  tests/func/experiments/conftest.py
  tests/func/experiments/test_experiments.py
  tests/func/experiments/test_gc.py
  tests/func/experiments/test_remove.py
Due: pylint
