Repository iterative/dvc: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

ci:
  skip: [mypy, pylint, dvc-pre-commit]

repos:
  - hooks:
      - id: black
        language_version: python3
    repo: https://github.com/ambv/black
    rev: 22.10.0
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-toml
      - id: check-yaml
  - hooks:
      - id: codespell
        args: 
          - --ignore-words-list
          - ba,datas,fo,uptodate,cachable,falsy
    repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
  - hooks:
      - id: isort
        language_version: python3
    repo: https://github.com/timothycrosley/isort
    rev: 5.10.1
  - hooks:
      - id: flake8
        language_version: python3
        additional_dependencies:
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-debugger
          - flake8-string-format
    repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
  - repo: local
    hooks:
    - id: mypy
      name: mypy
      entry: mypy
      files: ^dvc/
      language: system
      types: [python]
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
  - hooks:
      - args:
          - -i
          - "2"
        id: beautysh
        language_version: python3
    repo: https://github.com/lovesegfault/beautysh
    rev: v6.2.1
  - hooks:
      - args:
          - git-hook
          - pre-commit
        entry: dvc
        id: dvc-pre-commit
        language: system
        name: DVC pre-commit
        stages:
          - commit
        verbose: true
        require_serial: true
      - args:
          - git-hook
          - pre-push
        entry: dvc
        id: dvc-pre-push
        language: system
        name: DVC pre-push
        stages:
          - push
        require_serial: true
      - always_run: true
        args:
          - git-hook
          - post-checkout
        entry: dvc
        id: dvc-post-checkout
        language: system
        minimum_pre_commit_version: 2.2.0
        name: DVC post-checkout
        stages:
          - post-checkout
        require_serial: true
    repo: local

index: support multiple targets within output in IndexView
  dvc/repo/index.py
Due: mypy, pylint

metrics: Use "metrics.json" as DEFAULT_METRICS_FILE.
  dvc/repo/metrics/show.py
  tests/func/metrics/test_show.py
Due: mypy, pylint

Move away tempdir related change from basequeue.
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/celery.py
  dvc/repo/experiments/queue/tempdir.py
  dvc/repo/experiments/queue/utils.py
  tests/func/experiments/test_show.py
Due: mypy, pylint

`dvc exp show` auto solve corrupted rwlock info
  dvc/repo/experiments/queue/workspace.py
  dvc/rwlock.py
  tests/func/experiments/test_show.py
Due: mypy, pylint

Refactor: move `get_running_exps` to queue
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/tempdir.py
  dvc/repo/experiments/queue/workspace.py
  dvc/repo/experiments/show.py
  tests/func/experiments/test_show.py
Due: mypy, pylint

Move the function out of rwlock
  dvc/repo/experiments/queue/workspace.py
  dvc/rwlock.py
Due: mypy, pylint

Delete release-drafter.yml
  .github/release-drafter.yml
Due: none

yappi: add --yappi-separate-threads flag
  dvc/_debug.py
Due: mypy, pylint

deps: bump dvc-data to 0.25.1
  setup.cfg
  tests/func/test_ls.py
Due: pylint

deps: bump dvc-data to 0.25.2
  setup.cfg
Due: none

temp
  .github/workflows/tests.yaml
Due: none

retry celery queue on timeout
  tests/unit/repo/experiments/conftest.py
Due: pylint

tests: retry celery queue on timeout (#8488)
  tests/unit/repo/experiments/conftest.py
Due: pylint

update pre-commit; add some more hooks
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/tests.yaml
  .pre-commit-config.yaml
  CODE_OF_CONDUCT.md
  dvc/machine/backend/base.py
  dvc/parsing/__init__.py
  dvc/parsing/interpolate.py
  dvc/repo/experiments/queue/base.py
  dvc/testing/cloud.py
  dvc/utils/serialize/_common.py
  pyproject.toml
  scripts/innosetup/addSymLinkPermissions.ps1
  setup.cfg
  tests/func/experiments/test_set_params.py
  tests/integration/plots/test_plots.py
Due: mypy, pylint

Apply suggestions from code review
  setup.cfg
Due: none

update pre-commit; add some more hooks (#8492)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/tests.yaml
  .pre-commit-config.yaml
  CODE_OF_CONDUCT.md
  dvc/machine/backend/base.py
  dvc/parsing/__init__.py
  dvc/parsing/interpolate.py
  dvc/repo/experiments/queue/base.py
  dvc/testing/cloud.py
  dvc/utils/serialize/_common.py
  pyproject.toml
  scripts/innosetup/addSymLinkPermissions.ps1
  tests/func/experiments/test_set_params.py
  tests/integration/plots/test_plots.py
Due: mypy, pylint

plots: allow top-level strings
  dvc/repo/plots/__init__.py
  dvc/schema.py
  tests/func/test_dvcfile.py
Due: mypy, pylint

Update dvc/repo/plots/__init__.py
  dvc/repo/plots/__init__.py
Due: mypy, pylint

ci: cache lint deps, decrease test timeout
  .github/workflows/tests.yaml
Due: none

ci: cache lint deps, decrease test timeout (#8494)
  .github/workflows/tests.yaml
Due: none

move config to pyproject.toml
  .flake8
  pyproject.toml
  setup.cfg
Due: none

ci: use pyproject.toml for cache key
  .github/workflows/packages.yaml
  .github/workflows/tests.yaml
Due: none

pyproject.toml: use recursive dependencies for dev and all
  pyproject.toml
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

move project config to pyproject.toml (#8493)
  .flake8
  .github/workflows/packages.yaml
  .github/workflows/tests.yaml
  pyproject.toml
  setup.cfg
Due: none

ci: push package to test.pypi.org
  .github/workflows/packages.yaml
  scripts/build_package.sh
Due: none

[StepSecurity] ci: Harden GitHub Actions Signed-off-by: StepSecurity Bot <bot@stepsecurity.io>
  .github/workflows/packages.yaml
  .github/workflows/tests.yaml
Due: none

include dvc.testing and license file
  pyproject.toml
Due: none

[StepSecurity] ci: Harden GitHub Actions (#8496)
  .github/workflows/packages.yaml
  .github/workflows/tests.yaml
Due: none

ci: push package to test.pypi.org (#8495)
  .github/workflows/packages.yaml
  pyproject.toml
  scripts/build_package.sh
Due: none

set name so that dependency graph works
  setup.py
Due: pylint

set name so that dependency graph works (#8497)
  setup.py
Due: pylint

remove zip-safe
  pyproject.toml
Due: none
