Repository iterative/dvc: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

deps: bump dvc-data to 0.31.4
  pyproject.toml
Due: none

deps: bump dvc-data to 0.32.0
  pyproject.toml
Due: none

tests: remove duplicated dvc-objects/dvc-data tests
  tests/unit/remote/test_base.py
  tests/unit/remote/test_index.py
Due: pylint

status: remove deprecated/unused dvc-data.hashfile.status flag
  dvc/data_cloud.py
  dvc/repo/status.py
Due: mypy, pylint

tests: update for dvc-objects batched transfer
  tests/func/data/db/test_index.py
  tests/func/test_import.py
  tests/func/test_remote.py
Due: pylint

serialize: fix mypy error
  dvc/utils/serialize/_common.py
Due: mypy, pylint

cleanup linters: get rid of pylint-pytest, run pylint only on dvc/ directory, etc.
  .pre-commit-config.yaml
  dvc/testing/api_tests.py
  dvc/testing/fixtures.py
  dvc/testing/remote_tests.py
  pyproject.toml
  tests/pylint_plugin_disable.py
Due: mypy, pylint

remove pylint direcitves
  tests/__init__.py
  tests/conftest.py
  tests/dir_helpers.py
  tests/func/experiments/test_set_params.py
  tests/func/test_add.py
  tests/func/test_checkout.py
  tests/func/test_dvcfile.py
  tests/func/test_repro.py
  tests/remotes/git_server.py
  tests/unit/command/test_experiments.py
  tests/unit/command/test_repro.py
  tests/unit/fs/test_azure.py
  tests/unit/output/test_load.py
  tests/unit/remote/test_webhdfs.py
  tests/unit/repo/experiments/queue/test_celery.py
  tests/unit/repo/test_scm_context.py
  tests/unit/stage/test_stage.py
  tests/unit/test_logger.py
  tests/unit/ui/test_prompt.py
  tests/unit/utils/test_collections.py
Due: pylint

Apply suggestions from code review
  tests/conftest.py
  tests/func/experiments/test_set_params.py
  tests/func/test_add.py
  tests/func/test_checkout.py
  tests/unit/command/test_experiments.py
  tests/unit/command/test_repro.py
  tests/unit/fs/test_azure.py
  tests/unit/stage/test_stage.py
Due: pylint

Update pyproject.toml
  pyproject.toml
Due: none

stage.loader: Fix directories tracked as external deps.
  dvc/stage/loader.py
  tests/unit/stage/test_loader_pipeline_file.py
Due: mypy, pylint

exp: drop some words from exp names (#8811)
  dvc/repo/experiments/utils.py
Due: mypy, pylint

cleanup linters: get rid of pylint-pytest, run pylint only on dvc/ directory, etc (#8822)
  .pre-commit-config.yaml
  dvc/testing/api_tests.py
  dvc/testing/fixtures.py
  dvc/testing/remote_tests.py
  pyproject.toml
  tests/__init__.py
  tests/conftest.py
  tests/dir_helpers.py
  tests/func/experiments/test_set_params.py
  tests/func/test_add.py
  tests/func/test_checkout.py
  tests/func/test_dvcfile.py
  tests/func/test_repro.py
  tests/pylint_plugin_disable.py
  tests/remotes/git_server.py
  tests/unit/command/test_experiments.py
  tests/unit/command/test_repro.py
  tests/unit/fs/test_azure.py
  tests/unit/output/test_load.py
  tests/unit/remote/test_webhdfs.py
  tests/unit/repo/experiments/queue/test_celery.py
  tests/unit/repo/test_scm_context.py
  tests/unit/stage/test_stage.py
  tests/unit/test_logger.py
  tests/unit/ui/test_prompt.py
  tests/unit/utils/test_collections.py
Due: mypy, pylint

lint: run lint checks on all platforms
  .github/workflows/tests.yaml
  dvc/_debug.py
  dvc/daemon.py
  dvc/proc/manager.py
  dvc/testing/fixtures.py
Due: mypy, pylint

lint: run lint checks on all platforms (#8832)
  .github/workflows/tests.yaml
  dvc/_debug.py
  dvc/daemon.py
  dvc/proc/manager.py
  dvc/testing/fixtures.py
Due: mypy, pylint

exp run: Fix `--dry` option.
  dvc/repo/experiments/executor/base.py
  tests/func/experiments/test_experiments.py
Due: mypy, pylint

output.remove: Pass explicit `recursive` flag.
  dvc/output.py
Due: mypy, pylint

deps: bump dvc-data to 0.33.0
  pyproject.toml
  tests/func/test_gc.py
Due: pylint

param: Fix status check for Tuples.
  dvc/dependency/param.py
  tests/unit/dependency/test_params.py
Due: mypy, pylint

analytics: differentiate ci users
  dvc/analytics.py
Due: mypy, pylint

deps: bump dvc-data to 0.34.0
  pyproject.toml
Due: none

analytics: fix tests
  tests/unit/test_analytics.py
Due: pylint

deps: bump dvc-data to 0.35.0
  pyproject.toml
Due: none

remove setup.py file
  setup.py
Due: pylint

remove setup.py file (#8851)
  setup.py
Due: pylint

add viztracer async option
  dvc/_debug.py
Due: mypy, pylint

Update dvc/_debug.py
  dvc/_debug.py
Due: mypy, pylint

add viztracer async option (#8856)
  dvc/_debug.py
Due: mypy, pylint

deps: bump dvc-data to 0.35.1
  dvc/api/data.py
  pyproject.toml
  tests/func/test_ignore.py
  tests/func/test_state.py
Due: mypy, pylint

Path conditions:
  mypy: any of: ^dvc/ and \.py$
  pylint: any of: \.py$
