Repository iterative/dvc: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

default_language_version:
  python: python3

ci:
  skip: [mypy, pylint, dvc-pre-commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
        exclude: "tests/func/utils/test_strict_yaml.py"
        args: ['--assume-in-merge']
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
        exclude: "dvc/_debug.py"
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/lovesegfault/beautysh
    rev: v6.2.1
    hooks:
      - id: beautysh
        args: ["-i", "2"]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.2.0
    hooks:
      - id: pyupgrade
        args:
          - --py38-plus
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
        additional_dependencies: ["tomli"]
  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-broken-line
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-debugger
          - flake8-string-format
  - repo: local
    hooks:
    - id: mypy
      name: mypy
      entry: mypy
      files: ^dvc/
      language: system
      types: [python]
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
  - hooks:
      - args:
          - git-hook
          - pre-commit
        entry: dvc
        id: dvc-pre-commit
        language: system
        name: DVC pre-commit
        stages:
          - commit
        verbose: true
        require_serial: true
      - args:
          - git-hook
          - pre-push
        entry: dvc
        id: dvc-pre-push
        language: system
        name: DVC pre-push
        stages:
          - push
        require_serial: true
      - always_run: true
        args:
          - git-hook
          - post-checkout
        entry: dvc
        id: dvc-post-checkout
        language: system
        minimum_pre_commit_version: 2.2.0
        name: DVC post-checkout
        stages:
          - post-checkout
        require_serial: true
    repo: local

fix: some tagged versioins have no metrics (and no rev_data)
  dvc/api/metrics.py
Due: mypy, pylint

hydra: Raise lazy DvcException for Python >= 3.11
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/run.py
  dvc/utils/hydra.py
Due: mypy, pylint

migrate test_{add,analytics,init,unprotect,local,process}.py to pytest
  tests/func/test_add.py
  tests/func/test_analytics.py
  tests/func/test_init.py
  tests/func/test_unprotect.py
  tests/unit/output/test_local.py
  tests/unit/proc/test_process.py
Due: pylint

migrate test_checkout.py to pytest
  tests/func/test_checkout.py
Due: pylint

migrate test_cli.py to pytest
  tests/func/test_cli.py
Due: pylint

migrate some files to pytest
  tests/conftest.py
  tests/dir_helpers.py
  tests/func/experiments/test_experiments.py
  tests/func/experiments/test_gc.py
  tests/func/experiments/test_show.py
  tests/func/test_import_url.py
  tests/func/test_remote.py
  tests/func/test_repo_index.py
  tests/func/test_stage.py
  tests/scripts.py
  tests/unit/command/test_diff.py
  tests/unit/repo/experiments/conftest.py
  tests/unit/stage/test_cache.py
  tests/utils/scriptify.py
Due: pylint

migrate test_gc.py to pytest
  tests/func/test_gc.py
Due: pylint

migrate test_move.py to pytest
  tests/func/test_move.py
Due: pylint

migrate test_{repro,run}*.py to pytest
  tests/basic_env.py
  tests/func/test_repro.py
  tests/func/test_repro_multistage.py
  tests/func/test_run_single_stage.py
Due: pylint

tests: use mocker
  pyproject.toml
  tests/func/test_import.py
  tests/func/test_repro.py
  tests/unit/dependency/test_dependency.py
  tests/unit/output/test_output.py
  tests/unit/remote/test_base.py
  tests/unit/remote/test_http.py
  tests/unit/remote/test_webdav.py
  tests/unit/remote/test_webhdfs.py
  tests/unit/test_analytics.py
  tests/unit/utils/test_collections.py
Due: pylint

fix windows
  tests/func/test_repo_index.py
  tests/func/test_run_single_stage.py
Due: pylint

plots: allow top-level strings
  dvc/repo/plots/__init__.py
  dvc/schema.py
  tests/func/test_dvcfile.py
Due: mypy, pylint

Update dvc/repo/plots/__init__.py
  dvc/repo/plots/__init__.py
Due: mypy, pylint

ci: bench: use 3.11 in benchmarks
  .github/workflows/benchmarks.yaml
Due: none

readme: show downloads badge
  README.rst
Due: none

Update README.rst
  README.rst
Due: none

deps: bump dvc-data to 0.25.3
  pyproject.toml
Due: none

import-url: save `files` for version-aware dir
  dvc/dependency/__init__.py
  dvc/dependency/base.py
  dvc/output.py
Due: mypy, pylint

output: load precomputed md5 from PARAM_FILES for non-local fs
  dvc/output.py
Due: mypy, pylint

index: move import specific entry building out of index.data() property
  dvc/output.py
  dvc/repo/index.py
Due: mypy, pylint

index: load dir entries before generating target views
  dvc/repo/index.py
Due: mypy, pylint

fix hydra_sweeps referenced before assignment
  dvc/repo/experiments/run.py
  tests/func/experiments/test_set_params.py
Due: mypy, pylint
