Repository iterative/dvc: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

default_language_version:
  python: python3

ci:
  skip: [mypy, pylint, dvc-pre-commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
        exclude: "tests/func/utils/test_strict_yaml.py"
        args: ['--assume-in-merge']
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
        exclude: "dvc/_debug.py"
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/lovesegfault/beautysh
    rev: v6.2.1
    hooks:
      - id: beautysh
        args: ["-i", "2"]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.2.0
    hooks:
      - id: pyupgrade
        args:
          - --py38-plus
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
        additional_dependencies: ["tomli"]
  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-broken-line
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-debugger
          - flake8-string-format
  - repo: local
    hooks:
    - id: mypy
      name: mypy
      entry: mypy
      files: ^dvc/
      language: system
      types: [python]
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
  - hooks:
      - args:
          - git-hook
          - pre-commit
        entry: dvc
        id: dvc-pre-commit
        language: system
        name: DVC pre-commit
        stages:
          - commit
        verbose: true
        require_serial: true
      - args:
          - git-hook
          - pre-push
        entry: dvc
        id: dvc-pre-push
        language: system
        name: DVC pre-push
        stages:
          - push
        require_serial: true
      - always_run: true
        args:
          - git-hook
          - post-checkout
        entry: dvc
        id: dvc-post-checkout
        language: system
        minimum_pre_commit_version: 2.2.0
        name: DVC post-checkout
        stages:
          - post-checkout
        require_serial: true
    repo: local

remove zip-safe (#8498)
  pyproject.toml
Due: none

remove .codecov.yml and MANIFEST.in, move .coveragerc to pyproject.toml
  .codecov.yml
  .coveragerc
  .github/workflows/packages.yaml
  .github/workflows/tests.yaml
  MANIFEST.in
  pyproject.toml
  scripts/build_package.sh
Due: none

remove scripts/pypi_upload.sh
  .github/workflows/packages.yaml
  scripts/pypi_upload.sh
Due: none

remove .codecov.yml and MANIFEST.in, move .coveragerc to pyproject.toml (#8500)
  .codecov.yml
  .coveragerc
  .github/workflows/packages.yaml
  .github/workflows/tests.yaml
  MANIFEST.in
  pyproject.toml
  scripts/build_package.sh
  scripts/pypi_upload.sh
Due: none

use setuptools_scm provided version
  dvc/__init__.py
  dvc/version.py
  scripts/build.py
Due: mypy, pylint

remove TestDir
  tests/basic_env.py
  tests/func/test_gc.py
Due: pylint

tests: remove TestDir (#8502)
  tests/basic_env.py
  tests/func/test_gc.py
Due: pylint

ci: add release note config
  .github/release.yml
Due: none

ci: add release note config (#8503)
  .github/release.yml
Due: none

fix release note config, it has to be inside changelog key
  .github/release.yml
Due: none

fix release note config, it has to be inside changelog key (#8504)
  .github/release.yml
Due: none

Update release.yml
  .github/release.yml
Due: none

commit: skip changed_entries check on force commit
  dvc/repo/commit.py
Due: mypy, pylint

chore: remove bin dir and simplify tests.__main__
  .dvcignore
  bin/dvc
  bin/dvc.bat
  tests/__main__.py
Due: pylint

chore: remove bin dir and simplify tests.__main__ (#8507)
  .dvcignore
  bin/dvc
  bin/dvc.bat
  tests/__main__.py
Due: pylint

tests: remove old cleanup handler for Windows subprocess
  tests/__init__.py
Due: pylint

codecov: re-add codecov.yml
  .github/codecov.yml
Due: none

tests: remove old cleanup handler for Windows subprocess (#8508)
  tests/__init__.py
Due: pylint

codecov: disable patch status
  .github/codecov.yml
Due: none

ci: run only single macOS job
  .github/workflows/tests.yaml
Due: none

ci: use alls-green@release gate check
  .github/workflows/tests.yaml
Due: none

ci: run only single macOS job (#8509)
  .github/workflows/tests.yaml
Due: none

Make a more granular control on `exp lock`
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/executor/base.py
  dvc/repo/experiments/executor/local.py
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/celery.py
  dvc/repo/experiments/queue/tasks.py
  dvc/repo/experiments/queue/tempdir.py
  dvc/repo/experiments/utils.py
  dvc/rwlock.py
  tests/func/experiments/test_show.py
Due: mypy, pylint

Add rwlock to experiment operations
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/apply.py
  dvc/repo/experiments/branch.py
  dvc/repo/experiments/diff.py
  dvc/repo/experiments/gc.py
  dvc/repo/experiments/ls.py
  dvc/repo/experiments/pull.py
  dvc/repo/experiments/push.py
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/remove.py
  dvc/repo/experiments/refs.py
  dvc/repo/experiments/remove.py
  dvc/repo/experiments/show.py
Due: mypy, pylint

rwlock auto solve corrupted lockfile
  dvc/rwlock.py
  tests/unit/test_rwlock.py
Due: mypy, pylint

bump pyinstaller packages python version to 3.10
  .github/workflows/packages.yaml
Due: none

build: bump pyinstaller packages python version to 3.10 (#8511)
  .github/workflows/packages.yaml
Due: none

fix 3.10 in setup-python
  .github/workflows/packages.yaml
Due: none

Update benchmarks.yaml
  .github/workflows/benchmarks.yaml
Due: none

exp run: catch hydra import in 3.11
  dvc/repo/experiments/run.py
Due: mypy, pylint

deps: bump scmrepo to 0.1.3
  pyproject.toml
Due: none

docs: switch to in docstring
  dvc/api/metrics.py
Due: mypy, pylint

feat: add booleans to toggle showing all commits, branches, or tags
  dvc/api/metrics.py
Due: mypy, pylint

fix: remove print
  dvc/api/metrics.py
Due: mypy, pylint

feat: remove arguments and add docstring
  dvc/api/metrics.py
Due: mypy, pylint

feat: initial bare implementation
  dvc/api/__init__.py
  dvc/api/metrics.py
Due: mypy, pylint
