Repository iterative/dvc: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

Update .github/workflows/tests.yaml
  .github/workflows/tests.yaml
Due: none

tests: xfail experiments-related flakey tests
  tests/func/experiments/__init__.py
  tests/func/experiments/test_experiments.py
Due: pylint

ci: timeout tests if it takes >5min
  .github/workflows/tests.yaml
Due: none

output: quote filepath
  dvc/output.py
  tests/func/test_add.py
Due: mypy, pylint

dvcfs: ls: don't call info()
  dvc/fs/dvc.py
  tests/func/test_ls.py
Due: mypy, pylint

ls: compute relparts once for every dir
  dvc/repo/ls.py
Due: mypy, pylint

repro: Disable `run-cache` if `--no-commit`.
  dvc/stage/__init__.py
  tests/func/test_data_cloud.py
  tests/func/test_repro.py
Due: mypy, pylint

metrics: fix diff bt active branch and workspace
  dvc/repo/metrics/diff.py
  tests/func/metrics/test_diff.py
Due: mypy, pylint

params: fix diff bt active branch and workspace
  dvc/repo/params/diff.py
  tests/func/params/test_diff.py
Due: mypy, pylint

metrics/params: show: add hide_workspace flag
  dvc/repo/metrics/diff.py
  dvc/repo/metrics/show.py
  dvc/repo/params/diff.py
  dvc/repo/params/show.py
Due: mypy, pylint

params/metrics diff: address test failures for missing branch key
  dvc/repo/metrics/diff.py
  dvc/repo/params/diff.py
Due: mypy, pylint

`import-url`: Update options order
  dvc/commands/imp_url.py
Due: mypy, pylint

gha: remove env vars SHELL
  .github/workflows/tests.yaml
  tests/func/test_repro.py
Due: pylint

worktree push: remove existing version id optimization for file outs
  dvc/repo/worktree.py
Due: mypy, pylint

push/fetch: respect --jobs on worktree push/fetch
  dvc/repo/fetch.py
  dvc/repo/push.py
  dvc/repo/worktree.py
Due: mypy, pylint

Update dvc/commands/imp_url.py
  dvc/commands/imp_url.py
Due: mypy, pylint

deps: bump dvc-data to 0.28.6
  pyproject.toml
Due: none

deps: bump dvc-data to 0.29.0
  pyproject.toml
Due: none

Unpin grandalf
  pyproject.toml
Due: none

perf: remove fs exists check in plots, parallel data collect
  dvc/repo/collect.py
  dvc/repo/experiments/show.py
  dvc/repo/metrics/show.py
  dvc/repo/params/show.py
  dvc/repo/plots/__init__.py
  tests/func/metrics/test_show.py
  tests/func/plots/test_show.py
  tests/unit/test_collect.py
Due: mypy, pylint

Path conditions:
  mypy: any of: ^dvc/ and \.py$
  pylint: any of: \.py$
