Repository iterative/dvc: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

default_language_version:
  python: python3

ci:
  skip: [mypy, pylint, dvc-pre-commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
        exclude: "tests/func/utils/test_strict_yaml.py"
        args: ['--assume-in-merge']
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
        exclude: "dvc/_debug.py"
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/lovesegfault/beautysh
    rev: v6.2.1
    hooks:
      - id: beautysh
        args: ["-i", "2"]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.2.0
    hooks:
      - id: pyupgrade
        args:
          - --py38-plus
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
        additional_dependencies: ["tomli"]
  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-broken-line
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-debugger
          - flake8-string-format
  - repo: local
    hooks:
    - id: mypy
      name: mypy
      entry: mypy
      files: ^dvc/
      language: system
      types: [python]
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
  - hooks:
      - args:
          - git-hook
          - pre-commit
        entry: dvc
        id: dvc-pre-commit
        language: system
        name: DVC pre-commit
        stages:
          - commit
        verbose: true
        require_serial: true
      - args:
          - git-hook
          - pre-push
        entry: dvc
        id: dvc-pre-push
        language: system
        name: DVC pre-push
        stages:
          - push
        require_serial: true
      - always_run: true
        args:
          - git-hook
          - post-checkout
        entry: dvc
        id: dvc-post-checkout
        language: system
        minimum_pre_commit_version: 2.2.0
        name: DVC post-checkout
        stages:
          - post-checkout
        require_serial: true
    repo: local

repo: move state/index/data_index to site_cache_dir
  dvc/config_schema.py
  dvc/data_cloud.py
  dvc/info.py
  dvc/repo/__init__.py
  dvc/repo/init.py
  pyproject.toml
  tests/func/test_state.py
  tests/unit/remote/test_remote.py
Due: mypy, pylint

tests: remove gc.collect() from windows
  tests/conftest.py
Due: pylint

tests: remove gc.collect() from windows (#9159)
  tests/conftest.py
Due: pylint

exp: Pass `include_untracked=True` to `stash_workspace`.
  dvc/repo/experiments/queue/base.py
  tests/func/experiments/test_queue.py
Due: mypy, pylint

Enable security-and-quality query pack
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
Due: none

deps: bump dvc-data to >=0.43.0
  pyproject.toml
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

exp: push/pull: don't include baseline commit
  dvc/repo/experiments/utils.py
  tests/func/test_gc.py
  tests/unit/scm/test_scm.py
Due: mypy, pylint

exp: Include `STUDIO_REPO_URL` in run_env.
  dvc/repo/experiments/queue/base.py
  tests/func/experiments/test_experiments.py
Due: mypy, pylint

exp: fail fast in empty git repo
  dvc/repo/experiments/__init__.py
  pyproject.toml
  tests/func/experiments/test_diff.py
  tests/func/experiments/test_experiments.py
  tests/func/experiments/test_show.py
Due: mypy, pylint

revert adding commit in fixture
  dvc/testing/fixtures.py
Due: mypy, pylint

adds commit to fixture if scm
  dvc/testing/fixtures.py
  tests/unit/command/test_experiments.py
Due: mypy, pylint

add commit to test
  tests/unit/command/test_experiments.py
Due: pylint

exp: test reverting no_commit changes
  dvc/repo/experiments/__init__.py
  tests/func/experiments/test_experiments.py
Due: mypy, pylint

close scm
  dvc/repo/experiments/__init__.py
Due: mypy, pylint

debug
  dvc/repo/experiments/__init__.py
  tests/func/experiments/test_experiments.py
Due: mypy, pylint

exp: move no commits exception
  dvc/repo/experiments/__init__.py
Due: mypy, pylint

Update tests/func/experiments/test_experiments.py
  tests/func/experiments/test_experiments.py
Due: pylint

exp: fail fast in empty git repo (#8840)
  dvc/repo/experiments/__init__.py
  pyproject.toml
  tests/func/experiments/test_diff.py
  tests/func/experiments/test_experiments.py
  tests/func/experiments/test_show.py
Due: mypy, pylint

install: pre-commit: install all deps by default
  dvc/repo/install.py
Due: mypy, pylint

deps: bump dvc-data to 0.44.0
  pyproject.toml
Due: none

output: use files for used dir cache collection
  dvc/output.py
Due: mypy, pylint

import: error out when importing from cloud versioned remote
  dvc/config.py
  dvc/data_cloud.py
  dvc/dependency/repo.py
  dvc/exceptions.py
  dvc/external_repo.py
Due: mypy, pylint

repo: create site_cache_dir with proper perms
  dvc/repo/__init__.py
Due: mypy, pylint

ui: disable colorama on write_json when highlighting is disabled
  dvc/ui/__init__.py
Due: mypy, pylint

ui: disable colorama on write_json when highlighting is disabled (#9186)
  dvc/ui/__init__.py
Due: mypy, pylint

skip disabling colorama in tests
  dvc/ui/__init__.py
Due: mypy, pylint

do not disable colorama in tests (#9187)
  dvc/ui/__init__.py
Due: mypy, pylint

dvcfs: support caching remote streams; use that in plots
  dvc/fs/dvc.py
  dvc/repo/plots/__init__.py
  dvc/utils/serialize/__init__.py
Due: mypy, pylint

plots: show progress bar, cap max_workers to 16
  dvc/repo/plots/__init__.py
Due: mypy, pylint

bump dvc-data to 0.44.1
  pyproject.toml
Due: none
