Repository iterative/dvc: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

Update dvc/repo/experiments/queue/workspace.py
  dvc/repo/experiments/queue/workspace.py
Due: mypy, pylint

exp run: workspace status wrong
  dvc/repo/experiments/queue/workspace.py
  tests/func/experiments/test_experiments.py
Due: mypy, pylint

project: update dvc render and dvclive test dependencies
  dvc/commands/plots.py
  setup.cfg
  tests/integration/plots/test_plots.py
Due: mypy, pylint

setup: bump `dvc-render` to 0.0.9
  dvc/commands/plots.py
  setup.cfg
  tests/integration/plots/test_plots.py
Due: mypy, pylint

plots: account for wdir in stage plots
  dvc/repo/plots/__init__.py
Due: mypy, pylint

add gdrive remote profile field to config
  dvc/config_schema.py
  tests/func/test_config.py
Due: mypy, pylint

queue: missing `f` format for the error message.
  dvc/repo/experiments/queue/celery.py
Due: mypy, pylint

readme: add exps to quickstart
  README.rst
Due: none

deps: bump dvc-data to 0.1.6
  setup.cfg
Due: none

refactor: extract load_path function from common code using LOADERS
  dvc/dependency/param.py
  dvc/parsing/context.py
  dvc/repo/metrics/show.py
  dvc/repo/params/show.py
  dvc/utils/serialize/__init__.py
Due: mypy, pylint

api: Fix params_show when stage has no params
  dvc/repo/params/show.py
  tests/func/api/test_params.py
Due: mypy, pylint

cmd: plots: update messaging
  dvc/commands/plots.py
Due: mypy, pylint

build: add pyinstaller hooks for dvc-task and celery
  scripts/pyinstaller/hooks/hook-celery.py
  scripts/pyinstaller/hooks/hook-dvc_task.py
Due: pylint

plots: remove legacy code from verify_metrics
  dvc/output.py
Due: mypy, pylint

datafs: use dvc-data's datafs
  dvc/fs/data.py
  dvc/fs/dvc.py
  dvc/repo/__init__.py
  dvc/repo/diff.py
  dvc/repo/get.py
  dvc/repo/index.py
  dvc/repo/ls.py
  setup.cfg
  tests/unit/fs/test_data.py
  tests/unit/fs/test_dvc.py
Due: mypy, pylint

revert logger to lazy formatting
  dvc/output.py
Due: mypy, pylint

deps: bump dvc-data to 0.1.9
  dvc/repo/diff.py
  dvc/repo/ls.py
  setup.cfg
Due: mypy, pylint

dvc-task: update to 0.1.2
  setup.cfg
Due: none

move toml related tests to new test_toml.py
  tests/func/params/test_show.py
  tests/unit/dependency/test_params.py
  tests/unit/utils/serialize/test_toml.py
Due: pylint

odbmgr: separate repo and local odbs
  dvc/info.py
  dvc/odbmgr.py
  dvc/output.py
  dvc/repo/__init__.py
  dvc/repo/data.py
  dvc/repo/diff.py
  dvc/repo/experiments/executor/local.py
Due: mypy, pylint

repo: make lock/rwlock kinda work on non local fs
  dvc/repo/__init__.py
  dvc/rwlock.py
  dvc/stage/decorators.py
  tests/unit/test_rwlock.py
Due: mypy, pylint

deps: bump dvc-data to 0.1.11
  setup.cfg
Due: none

odb: use odb.path instead of odb.cache_dir
  dvc/dependency/repo.py
  dvc/external_repo.py
  dvc/fs/dvc.py
  dvc/info.py
  dvc/repo/__init__.py
  dvc/repo/experiments/executor/local.py
  dvc/stage/cache.py
  dvc/testing/test_api.py
  dvc/testing/test_remote.py
  tests/func/api/test_data.py
  tests/func/experiments/test_remote.py
  tests/func/metrics/test_show.py
  tests/func/plots/test_show.py
  tests/func/test_add.py
  tests/func/test_checkout.py
  tests/func/test_data_cloud.py
  tests/func/test_data_status.py
  tests/func/test_diff.py
  tests/func/test_external_repo.py
  tests/func/test_gc.py
  tests/func/test_import.py
  tests/func/test_odb.py
  tests/func/test_remote.py
  tests/func/test_remove.py
  tests/func/test_repro.py
  tests/func/test_run_single_stage.py
  tests/unit/fs/test_data.py
  tests/unit/output/test_output.py
  tests/unit/stage/test_cache.py
  tests/unit/test_external_repo.py
  tests/unit/test_info.py
Due: mypy, pylint

repo: support basic workflow on s3fs/adlfs/etc
  dvc/odbmgr.py
  dvc/output.py
Due: mypy, pylint

repo: use fs.makedirs instead of os.makedirs
  dvc/repo/__init__.py
Due: mypy, pylint

Path conditions:
  mypy: any of: ^dvc/ and \.py$
  pylint: any of: \.py$
