Repository iterative/dvc: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

default_language_version:
  python: python3

ci:
  skip: [mypy, pylint, dvc-pre-commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
        exclude: "tests/func/utils/test_strict_yaml.py"
        args: ['--assume-in-merge']
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
        exclude: "dvc/_debug.py"
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/lovesegfault/beautysh
    rev: v6.2.1
    hooks:
      - id: beautysh
        args: ["-i", "2"]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.2.0
    hooks:
      - id: pyupgrade
        args:
          - --py38-plus
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
        additional_dependencies: ["tomli"]
  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-broken-line
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-debugger
          - flake8-string-format
  - repo: local
    hooks:
    - id: mypy
      name: mypy
      entry: mypy
      files: ^dvc/
      language: system
      types: [python]
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
  - hooks:
      - args:
          - git-hook
          - pre-commit
        entry: dvc
        id: dvc-pre-commit
        language: system
        name: DVC pre-commit
        stages:
          - commit
        verbose: true
        require_serial: true
      - args:
          - git-hook
          - pre-push
        entry: dvc
        id: dvc-pre-push
        language: system
        name: DVC pre-push
        stages:
          - push
        require_serial: true
      - always_run: true
        args:
          - git-hook
          - post-checkout
        entry: dvc
        id: dvc-post-checkout
        language: system
        minimum_pre_commit_version: 2.2.0
        name: DVC post-checkout
        stages:
          - post-checkout
        require_serial: true
    repo: local

serialize: fix loading of cloud metadata from .dvc/dvc.lock files
  dvc/output.py
  dvc/schema.py
  dvc/stage/loader.py
Due: mypy, pylint

output: Pass `version_aware=True` to `fs` if `files` is present.
  dvc/output.py
  tests/unit/output/test_output.py
Due: mypy, pylint

serialize: fix loading of cloud metadata from .dvc/dvc.lock files (#8889)
  dvc/output.py
  dvc/schema.py
  dvc/stage/loader.py
Due: mypy, pylint

Fixed typo in _format_field function
  dvc/compare.py
Due: mypy, pylint

analytics: differentiate ci users (#8838)
  dvc/analytics.py
  pyproject.toml
  tests/unit/test_analytics.py
Due: mypy, pylint

plots: use flat fields instead of nested dict
  dvc/commands/plots.py
  dvc/render/__init__.py
  dvc/render/convert.py
  dvc/render/converter/vega.py
Due: mypy, pylint

plots: shorten field names
  dvc/render/converter/vega.py
Due: mypy, pylint

tests: fix test_iter_revs mock
  tests/unit/scm/test_scm.py
Due: pylint

gc: fix usage with --date
  dvc/repo/brancher.py
  dvc/scm.py
  tests/func/test_gc.py
Due: mypy, pylint

Update dvc/external_repo.py
  dvc/external_repo.py
Due: mypy, pylint

Update dvc/fs/dvc.py
  dvc/fs/dvc.py
Due: mypy, pylint

Update dvc/repo/experiments/__init__.py
  dvc/repo/experiments/__init__.py
Due: mypy, pylint

Update dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/base.py
Due: mypy, pylint

Update pyproject.toml
  pyproject.toml
Due: none

plots: handle missing field names
  dvc/render/converter/vega.py
Due: mypy, pylint

plots: make compatible with py3.8
  dvc/render/converter/vega.py
Due: mypy, pylint

plots: fix for missing data
  dvc/render/converter/vega.py
Due: mypy, pylint

plots: add test for field shortening
  tests/unit/render/test_vega_converter.py
Due: pylint

plots: strip separators regardless of os
  dvc/render/converter/vega.py
Due: mypy, pylint

enable flake8-typing-imports check
  .flake8
  .pre-commit-config.yaml
  dvc/dependency/param.py
  dvc/repo/index.py
  pyproject.toml
Due: mypy, pylint

Fix mypy issues
  dvc/analytics.py
  dvc/commands/experiments/show.py
  dvc/external_repo.py
  dvc/fs/git.py
  dvc/repo/__init__.py
  dvc/repo/experiments/apply.py
  dvc/repo/experiments/executor/base.py
  dvc/repo/experiments/executor/local.py
  dvc/repo/experiments/executor/ssh.py
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/utils.py
  dvc/repo/experiments/remove.py
  dvc/repo/experiments/save.py
  dvc/repo/experiments/show.py
  dvc/repo/experiments/utils.py
  dvc/repo/install.py
  dvc/repo/scm_context.py
  dvc/scm.py
  dvc/testing/fixtures.py
  dvc/testing/tmp_dir.py
  tests/func/experiments/test_diff.py
  tests/func/experiments/test_show.py
  tests/func/metrics/test_diff.py
  tests/func/params/test_diff.py
  tests/func/plots/test_diff.py
  tests/func/test_diff.py
  tests/func/test_external_repo.py
  tests/func/test_import.py
Due: mypy, pylint

mypy: remove scmrepo from ignored modules
  pyproject.toml
Due: none

mypy: unignore module override
  pyproject.toml
Due: none

mypy: unignore module override (#8902)
  pyproject.toml
Due: none

simplify and update plot field names
  dvc/commands/plots.py
  dvc/render/__init__.py
  dvc/render/convert.py
  dvc/render/converter/vega.py
Due: mypy, pylint

index: add rev property
  dvc/repo/index.py
Due: mypy, pylint

index: expose rev property (#8909)
  dvc/repo/index.py
Due: mypy, pylint

pre-commit: bump isort to 5.12.0
  .pre-commit-config.yaml
Due: none

tests: gc: use timedelta
  tests/func/test_gc.py
Due: pylint

tests: gc: use timedelta (#8912)
  tests/func/test_gc.py
Due: pylint

ci: run dvc-s3 tests on DVC pull requests
  .github/workflows/plugin_tests.yaml
Due: none

testing: add test for worktree update
  dvc/testing/remote_tests.py
Due: mypy, pylint
