Repository iterative/dvc: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

fs: remove one call to ._get_key() in _DvcFS._get_fs_pair()
  dvc/fs/dvc.py
Due: mypy, pylint

fs: remove obsolete special cases
  dvc/fs/dvc.py
Due: mypy, pylint

fs: simplify filtering out dvcfiles
  dvc/fs/dvc.py
Due: mypy, pylint

api: Add details for`params_show` `stages` syntax.
  dvc/api/params.py
  tests/func/api/test_params.py
Due: mypy, pylint

fix tests
  dvc/repo/data.py
  tests/func/test_data_status.py
Due: mypy, pylint

status: add unknown state
  dvc/commands/data.py
  dvc/repo/data.py
  tests/func/test_data_status.py
Due: mypy, pylint

Update dvc/commands/plots.py
  dvc/commands/plots.py
Due: mypy, pylint

plots templates: change ui to not dump to file
  dvc/commands/plots.py
  tests/unit/command/test_plots.py
Due: mypy, pylint

Create hook-fsspec.py
  scripts/pyinstaller/hooks/hook-fsspec.py
Due: pylint

data status: fix not-in-cache hint
  dvc/commands/data.py
  tests/unit/command/test_data_status.py
Due: mypy, pylint

data status: fix not-in-cache hint (#8181)
  dvc/commands/data.py
  tests/unit/command/test_data_status.py
Due: mypy, pylint

fix diff when no object exists by falling back to shallow_diff
  dvc/repo/data.py
  tests/func/test_data_status.py
Due: mypy, pylint

Update setup.cfg
  setup.cfg
Due: none

add shallow_diff
  dvc/repo/data.py
  tests/func/test_data_status.py
Due: mypy, pylint

metrics: show: Fix show from subdir.
  dvc/repo/metrics/show.py
  tests/func/metrics/test_show.py
Due: mypy, pylint

Better error message when using remove on file instead of dvc file
  dvc/repo/remove.py
  dvc/stage/exceptions.py
  tests/func/test_remove.py
Due: mypy, pylint

repo: Handle no commits for `exp show` and `plots diff`.
  dvc/commands/experiments/diff.py
  dvc/repo/experiments/show.py
  dvc/repo/plots/diff.py
  tests/func/experiments/test_diff.py
  tests/func/experiments/test_show.py
  tests/func/plots/test_diff.py
Due: mypy, pylint

resolve_rev: raise DvcException on empty repo.
  dvc/repo/data.py
  dvc/scm.py
  tests/unit/test_scm.py
Due: mypy, pylint

deps: bump dvc-* plugins to 2.19.0
  setup.cfg
Due: none

data status: test cleanup and improvements
  dvc/repo/data.py
  tests/func/test_data_status.py
  tests/unit/command/test_data_status.py
Due: mypy, pylint

data status: test cleanup and improvements (#8185)
  dvc/repo/data.py
  tests/func/test_data_status.py
  tests/unit/command/test_data_status.py
Due: mypy, pylint

data status: make untracked files to be relative paths
  dvc/repo/data.py
  tests/func/test_data_status.py
Due: mypy, pylint

data status: make untracked files to be relative paths (#8184)
  dvc/repo/data.py
  tests/func/test_data_status.py
Due: mypy, pylint

tests: mark exp queue func tests xfail
  tests/func/experiments/test_queue.py
Due: pylint

tests: mark exp queue func tests xfail (#8186)
  tests/func/experiments/test_queue.py
Due: pylint

data status: remove --withdirs, show unknowns in CLI
  dvc/commands/data.py
  dvc/repo/data.py
  tests/func/test_data_status.py
  tests/unit/command/test_data_status.py
Due: mypy, pylint

data status: only consider unknown from newer object during diff
  dvc/repo/data.py
  tests/func/test_data_status.py
Due: mypy, pylint

api: Fix `params_show` for untracked targets.
  dvc/repo/params/show.py
  tests/func/api/test_params.py
Due: mypy, pylint

Working draft of dvc du (disk-usage).
  dvc/cli/parser.py
  dvc/commands/du.py
  dvc/fs/dvc.py
  dvc/repo/ls.py
  tests/func/test_ls.py
Due: mypy, pylint

pyinstaller: don't forget dvc_* plugins
  scripts/pyinstaller/build.py
  scripts/pyinstaller/hooks/hook-dvc.py
Due: pylint

deps: bump dvc-http and dvc-gs
  setup.cfg
Due: none

Path conditions:
  mypy: any of: ^dvc/ and \.py$
  pylint: any of: \.py$
