Repository iterative/dvc: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

exp show: use unique executor name for dvc-task & standalone tempdir exps
  dvc/repo/experiments/executor/local.py
  dvc/repo/experiments/queue/tasks.py
Due: mypy, pylint

queue remove: add remove support for short revs(#7840)
  dvc/commands/queue/remove.py
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/local.py
  dvc/repo/experiments/remove.py
Due: mypy, pylint

exp: add test_queue unit test helper for celery queue
  tests/unit/repo/experiments/conftest.py
Due: pylint

exp queue: implement queue.logs() support
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/exceptions.py
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/local.py
  tests/func/experiments/conftest.py
  tests/func/experiments/test_experiments.py
Due: mypy, pylint

queue: cleanup help/usage to match docs
  dvc/commands/queue/kill.py
  dvc/commands/queue/logs.py
  dvc/commands/queue/remove.py
  dvc/commands/queue/stop.py
Due: mypy, pylint

exp: refactor stash handling into separate module
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/base.py
  dvc/repo/experiments/executor/manager/base.py
  dvc/repo/experiments/executor/manager/local.py
  dvc/repo/experiments/executor/manager/ssh.py
  dvc/repo/experiments/stash.py
  tests/func/experiments/test_experiments.py
Due: mypy, pylint

exp queue: remove `dvc queue attach` command
  dvc/commands/queue/__init__.py
  dvc/commands/queue/attach.py
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/local.py
  tests/unit/command/test_queue.py
Due: mypy, pylint

exp: use a single chain for all exp tasks
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/local.py
  dvc/repo/experiments/queue/tasks.py
  dvc/repo/experiments/show.py
Due: mypy, pylint

exp: generate unique worker node names per DVC repo
  dvc/repo/experiments/queue/local.py
Due: mypy, pylint

exp: use queue.iter_queued to get queued status in `exp show`
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/local.py
  dvc/repo/experiments/show.py
Due: mypy, pylint

Add more unit test and implement a new method
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/local.py
  tests/unit/repo/experiments/queue/test_local.py
Due: mypy, pylint

exp: refactor base.py into refs.py and exceptions.py
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/apply.py
  dvc/repo/experiments/base.py
  dvc/repo/experiments/branch.py
  dvc/repo/experiments/exceptions.py
  dvc/repo/experiments/executor/base.py
  dvc/repo/experiments/executor/local.py
  dvc/repo/experiments/executor/manager/base.py
  dvc/repo/experiments/executor/manager/local.py
  dvc/repo/experiments/executor/ssh.py
  dvc/repo/experiments/pull.py
  dvc/repo/experiments/push.py
  dvc/repo/experiments/refs.py
  dvc/repo/experiments/remove.py
  dvc/repo/experiments/show.py
  dvc/repo/experiments/utils.py
  tests/func/experiments/executor/test_ssh.py
  tests/func/experiments/test_checkpoints.py
  tests/func/experiments/test_experiments.py
  tests/func/experiments/test_show.py
  tests/func/test_gc.py
  tests/unit/repo/experiments/test_utils.py
Due: mypy, pylint

exp run: update --run-all logs behavior
  dvc/repo/experiments/__init__.py
Due: mypy, pylint

tests: re-enable exp show celery tests
  tests/func/experiments/test_show.py
Due: pylint

queue: cleanup flaky tests
  dvc/repo/experiments/queue/celery.py
  tests/func/experiments/test_experiments.py
  tests/unit/repo/experiments/queue/test_local.py
Due: mypy, pylint

dvc-task: update to 0.0.1
  setup.cfg
Due: none

exp: simplify shutdown behavior
  dvc/repo/experiments/queue/local.py
  tests/unit/repo/experiments/queue/test_local.py
Due: mypy, pylint

exp: use single atomic task instead of chaining
  dvc/repo/experiments/queue/local.py
  dvc/repo/experiments/queue/tasks.py
Due: mypy, pylint

exp: autostart celery worker
  dvc/repo/experiments/__init__.py
Due: mypy, pylint

exp run: update Ctrl+C handling for --temp and --run-all
  dvc/repo/experiments/__init__.py
Due: mypy, pylint

exp: save failed queue runs in separate stash/reflog
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/local.py
  dvc/repo/experiments/queue/tasks.py
  dvc/repo/experiments/refs.py
  tests/func/experiments/conftest.py
  tests/func/experiments/test_experiments.py
Due: mypy, pylint

exp: support remove from celery queue
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/local.py
Due: mypy, pylint

exp run: preserve --temp standalone behavior
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/executor/local.py
  dvc/repo/experiments/run.py
  tests/func/experiments/test_experiments.py
Due: mypy, pylint

dvc-task: update to 0.0.2
  setup.cfg
Due: none

exp: update tests for match_queue_entry refactor
  tests/unit/repo/experiments/queue/test_local.py
Due: pylint

exp: migrate workspace repro to queues
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/gc.py
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/refs.py
  dvc/repo/experiments/remove.py
  dvc/repo/experiments/stash.py
Due: mypy, pylint

exp: implement celery exp task collection
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/local.py
  dvc/repo/experiments/queue/tasks.py
Due: mypy, pylint

exp queue: remove queued experiments(#7591)
  dvc/cli/parser.py
  dvc/commands/queue/__init__.py
  dvc/commands/queue/kill.py
  dvc/commands/queue/remove.py
  tests/unit/command/test_queue.py
Due: mypy, pylint

exp: return exp results for celery runs
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/local.py
Due: mypy, pylint

dvc-task: bump to 0.0.9
  dvc/repo/experiments/queue/local.py
  setup.cfg
Due: mypy, pylint

dvc-task: update to 0.0.3
  setup.cfg
Due: none

Queue remove: Can remove successed,failed tasks msgs
  dvc/commands/queue/remove.py
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/celery.py
  dvc/repo/experiments/queue/remove.py
  dvc/repo/experiments/queue/workspace.py
  dvc/repo/experiments/remove.py
  tests/func/experiments/test_experiments.py
  tests/func/experiments/test_queue.py
  tests/unit/command/test_queue.py
  tests/unit/repo/experiments/queue/test_remove.py
Due: mypy, pylint

exp: start migrating info logging to ui
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/executor/base.py
  dvc/repo/experiments/queue/base.py
Due: mypy, pylint

Reorganized `get_queue_entry_by_names`
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/local.py
  dvc/repo/experiments/remove.py
Due: mypy, pylint

queue status: add some unit test to increase the coverage
  tests/unit/command/test_queue.py
Due: pylint

exp: use celery async wait in queue get_result
  dvc/repo/experiments/queue/local.py
Due: mypy, pylint

Refactor: Move `remove_revs` from `BaseStashQueue` to `expstash`
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/remove.py
  dvc/repo/experiments/stash.py
  tests/unit/repo/experiments/queue/test_remove.py
Due: mypy, pylint

dvc-task: bump to 0.0.11
  setup.cfg
  tests/unit/repo/experiments/queue/test_local.py
Due: pylint

exp: use queue remove in gc
  dvc/repo/experiments/gc.py
Due: mypy, pylint

exp: initial celery app/task setup
  dvc/repo/experiments/queue/__init__.py
  dvc/repo/experiments/queue/celery.py
  dvc/repo/experiments/queue/tasks.py
  pyproject.toml
  setup.cfg
Due: mypy, pylint

Path conditions:
  mypy: any of: ^dvc/ and \.py$
  pylint: any of: \.py$
