Repository iterative/dvc: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

worktree push: disable rev flags
  dvc/repo/push.py
Due: mypy, pylint

worktree: support recursive/with_deps targets
  dvc/repo/worktree.py
Due: mypy, pylint

worktree fetch: support revs flags
  dvc/repo/fetch.py
Due: mypy, pylint

worktree: disable run-cache push/fetch
  dvc/stage/cache.py
Due: mypy, pylint

deps: remove 3.11 checks for hydra; has 3.11 support now
  dvc/utils/hydra.py
  pyproject.toml
  tests/conftest.py
  tests/func/experiments/test_set_params.py
  tests/func/utils/test_hydra.py
Due: mypy, pylint

exp: Generate a human-readable name beforehand.
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/utils.py
  tests/func/experiments/test_experiments.py
  tests/func/experiments/test_show.py
  tests/func/experiments/test_utils.py
Due: mypy, pylint

reset all indecies of brancher switch
  dvc/repo/__init__.py
  dvc/repo/brancher.py
Due: mypy, pylint

Bump dvclive lower bound
  pyproject.toml
Due: none

ignore: solve re.error on group name redefinition in pathspec 0.10.x
  dvc/ignore.py
Due: mypy, pylint

Update pyproject.toml
  pyproject.toml
Due: none

exp save: always dvc commit changes
  dvc/commands/experiments/save.py
  dvc/repo/experiments/save.py
  tests/func/experiments/test_save.py
Due: mypy, pylint

Bump dvclive lower bound (#8683)
  pyproject.toml
Due: none

add index._plot_sources
  dvc/repo/index.py
Due: mypy, pylint

remove a few experiments names
  dvc/repo/experiments/utils.py
Due: mypy, pylint

bump DVCLive lower bound
  pyproject.toml
Due: none

Sort `dvc.lock` files.
  README.rst
  dvc/dvcfile.py
Due: mypy, pylint

Revert "`--allow-no-hash` option for `checkout`"
  dvc/command/checkout.py
  dvc/command/data_sync.py
  dvc/objects/checkout.py
  dvc/output.py
  dvc/repo/__init__.py
  dvc/repo/fetch.py
  dvc/repo/index.py
  dvc/repo/pull.py
Due: mypy, pylint

update tests: make `spawn_worker` a private method.
  tests/unit/command/test_queue.py
  tests/unit/repo/experiments/conftest.py
Due: pylint

index: remove unused APIs
  dvc/repo/index.py
  dvc/repo/stage.py
  tests/func/test_repo_index.py
Due: mypy, pylint

plots: accept list of y vals
  dvc/render/converter/vega.py
  tests/unit/render/test_vega_converter.py
Due: mypy, pylint

plots: accept any number of y data sources
  dvc/render/converter/vega.py
  tests/unit/render/test_vega_converter.py
Due: mypy, pylint

Add test_show_os_paths
  tests/func/plots/test_show.py
Due: pylint

exp save: simplify implementation
  dvc/repo/experiments/exceptions.py
  dvc/repo/experiments/executor/local.py
  dvc/repo/experiments/save.py
  tests/func/experiments/test_save.py
  tests/unit/repo/experiments/test_utils.py
Due: mypy, pylint

Add `start` and `done` calls with `post_live_metrics`.
  dvc/repo/experiments/queue/workspace.py
  pyproject.toml
  tests/func/experiments/test_utils.py
Due: mypy, pylint

tests: Replace unittest with pytest
  tests/func/experiments/test_show.py
  tests/func/test_add.py
  tests/func/test_analytics.py
  tests/func/test_external_repo.py
  tests/func/test_remote.py
  tests/unit/command/test_annotations_flags.py
  tests/unit/command/test_experiments.py
  tests/unit/command/test_machine.py
  tests/unit/command/test_run.py
  tests/unit/command/test_stage.py
  tests/unit/fs/test_dvc.py
  tests/unit/repo/experiments/queue/test_remove.py
  tests/unit/test_external_repo.py
  tests/unit/test_ignore.py
  tests/unit/ui/test_prompt.py
  tests/utils/asserts.py
Due: pylint

tests: Fix flaky `test_show_only_changed`.
  tests/func/experiments/test_show.py
Due: pylint

Path conditions:
  mypy: any of: ^dvc/ and \.py$
  pylint: any of: \.py$
