Repository iterative/dvc: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

default_language_version:
  python: python3

ci:
  skip: [mypy, pylint, dvc-pre-commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
        exclude: "tests/func/utils/test_strict_yaml.py"
        args: ['--assume-in-merge']
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
        exclude: "dvc/_debug.py"
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/lovesegfault/beautysh
    rev: v6.2.1
    hooks:
      - id: beautysh
        args: ["-i", "2"]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.2.0
    hooks:
      - id: pyupgrade
        args:
          - --py38-plus
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
        additional_dependencies: ["tomli"]
  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-broken-line
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-debugger
          - flake8-string-format
  - repo: local
    hooks:
    - id: mypy
      name: mypy
      entry: mypy
      files: ^dvc/
      language: system
      types: [python]
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
  - hooks:
      - args:
          - git-hook
          - pre-commit
        entry: dvc
        id: dvc-pre-commit
        language: system
        name: DVC pre-commit
        stages:
          - commit
        verbose: true
        require_serial: true
      - args:
          - git-hook
          - pre-push
        entry: dvc
        id: dvc-pre-push
        language: system
        name: DVC pre-push
        stages:
          - push
        require_serial: true
      - always_run: true
        args:
          - git-hook
          - post-checkout
        entry: dvc
        id: dvc-post-checkout
        language: system
        minimum_pre_commit_version: 2.2.0
        name: DVC post-checkout
        stages:
          - post-checkout
        require_serial: true
    repo: local

repo: use tmp_dir if available
  dvc/cachemgr.py
  dvc/repo/__init__.py
Due: mypy, pylint

repo: move data_index to .dvc/tmp/index
  dvc/repo/__init__.py
Due: mypy, pylint

gha: user ubuntu 20.04 for deb packages
  .github/workflows/packages.yaml
Due: none

config: enable data index caching by default
  dvc/config_schema.py
  dvc/repo/__init__.py
Due: mypy, pylint

deps: bump dvc-data to 0.40.4
  pyproject.toml
Due: none

bump ruff to v0.0.247
  .pre-commit-config.yaml
  dvc/cli/__init__.py
  dvc/commands/experiments/show.py
  dvc/commands/machine.py
  dvc/commands/plots.py
  dvc/compare.py
  dvc/dagascii.py
  dvc/dependency/repo.py
  dvc/external_repo.py
  dvc/fs/dvc.py
  dvc/logger.py
  dvc/output.py
  dvc/parsing/context.py
  dvc/progress.py
  dvc/render/converter/vega.py
  dvc/repo/__init__.py
  dvc/repo/add.py
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/apply.py
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/remove.py
  dvc/repo/experiments/show.py
  dvc/repo/fetch.py
  dvc/repo/gc.py
  dvc/repo/imp_url.py
  dvc/repo/metrics/show.py
  dvc/repo/params/show.py
  dvc/repo/pull.py
  dvc/repo/push.py
  dvc/rwlock.py
  dvc/scm.py
  dvc/stage/__init__.py
  dvc/ui/__init__.py
  dvc/utils/serialize/_py.py
  dvc/version.py
  pyproject.toml
  tests/func/test_data_cloud.py
Due: mypy, pylint

ruff: enable pep8-naming check
  dvc/cli/__init__.py
  dvc/commands/dag.py
  dvc/config_schema.py
  dvc/dagascii.py
  dvc/dvcfile.py
  dvc/fs/__init__.py
  dvc/logger.py
  dvc/parsing/versions.py
  dvc/repo/experiments/init.py
  dvc/repo/experiments/utils.py
  dvc/repo/graph.py
  dvc/repo/move.py
  dvc/repo/reproduce.py
  dvc/stage/monitor.py
  dvc/utils/collections.py
  pyproject.toml
  tests/func/experiments/executor/test_ssh.py
  tests/func/test_diff.py
  tests/integration/plots/test_plots.py
  tests/unit/command/test_dag.py
  tests/unit/command/test_plots.py
  tests/unit/test_logger.py
Due: mypy, pylint

pyproject.toml: cleanup metadata
  pyproject.toml
Due: none

pyproject.toml: cleanup metadata (#9051)
  pyproject.toml
Due: none

deps (tests): unpin test deps
  pyproject.toml
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

deps (tests): unpin test deps (#9052)
  pyproject.toml
Due: none

pyproject: format using pyproject-fmt
  pyproject.toml
Due: none

pyproject: format using pyproject-fmt (#9053)
  pyproject.toml
Due: none

deps: remove importlib-resources and typing-extensions
  pyproject.toml
Due: none

deps: drop importlib-resources and typing-extensions (#9055)
  pyproject.toml
Due: none

exp: add ApplyStash implementation
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/refs.py
  dvc/repo/experiments/stash.py
  dvc/repo/experiments/utils.py
Due: mypy, pylint

exp apply: simplify apply behavior to use checkout instead of merge
  dvc/repo/experiments/apply.py
Due: mypy, pylint

exp apply: drop --no-force CLI option
  dvc/commands/experiments/apply.py
Due: mypy, pylint

apply: add --no-force deprecation message
  dvc/commands/experiments/apply.py
  tests/unit/command/test_experiments.py
Due: mypy, pylint

exp: remove unused ApplyConflictError
  dvc/repo/experiments/exceptions.py
  tests/func/experiments/test_experiments.py
Due: mypy, pylint

exp: move apply tests into their own module
  tests/func/experiments/test_apply.py
  tests/func/experiments/test_experiments.py
Due: pylint

deps: use ranges for dvc sub-packages
  pyproject.toml
Due: none

fix docker fixtures and unpin pytest-docker
  dvc/testing/fixtures.py
  pyproject.toml
  tests/remotes/git_server.py
Due: mypy, pylint

git_server: mount volume to different /custom-cont-init.d
  tests/docker-compose.yml
Due: none

dvcfs: implement get_file
  dvc/fs/dvc.py
  pyproject.toml
Due: mypy, pylint
