Repository iterative/dvc: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

ci:
  skip: [mypy, pylint, dvc-pre-commit]

repos:
  - hooks:
      - id: black
        language_version: python3
    repo: https://github.com/ambv/black
    rev: 22.3.0
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-toml
      - id: check-yaml
  - hooks:
      - id: codespell
        args: 
          - --ignore-words-list
          - ba,datas,fo,uptodate,cachable
    repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
  - hooks:
      - id: isort
        language_version: python3
    repo: https://github.com/timothycrosley/isort
    rev: 5.10.1
  - hooks:
      - id: flake8
        language_version: python3
        additional_dependencies:
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-debugger
          - flake8-string-format
    repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
  - repo: local
    hooks:
    - id: mypy
      name: mypy
      entry: mypy
      files: ^dvc/
      language: system
      types: [python]
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
  - hooks:
      - args:
          - -i
          - "2"
        id: beautysh
        language_version: python3
    repo: https://github.com/lovesegfault/beautysh
    rev: v6.2.1
  - hooks:
      - args:
          - git-hook
          - pre-commit
        entry: dvc
        id: dvc-pre-commit
        language: system
        name: DVC pre-commit
        stages:
          - commit
        verbose: true
        require_serial: true
      - args:
          - git-hook
          - pre-push
        entry: dvc
        id: dvc-pre-push
        language: system
        name: DVC pre-push
        stages:
          - push
        require_serial: true
      - always_run: true
        args:
          - git-hook
          - post-checkout
        entry: dvc
        id: dvc-post-checkout
        language: system
        minimum_pre_commit_version: 2.2.0
        name: DVC post-checkout
        stages:
          - post-checkout
        require_serial: true
    repo: local

plots: allow definition of plots section as list
  dvc/repo/plots/__init__.py
  dvc/schema.py
  tests/func/test_dvcfile.py
Due: mypy, pylint

deps: bump dvc-data to 0.19.0
  setup.cfg
Due: none

Update setup.cfg
  setup.cfg
Due: none

deps: bump dvc-data to 0.20.0
  setup.cfg
Due: none

fetch/push: use dvc-data TransferResult
  dvc/data_cloud.py
  dvc/repo/fetch.py
  dvc/repo/push.py
  dvc/stage/cache.py
Due: mypy, pylint

testing.api_tests: remove comment from fixture
  dvc/testing/api_tests.py
Due: mypy, pylint

testing.api_tests: remove comment from fixture (#8444)
  dvc/testing/api_tests.py
Due: mypy, pylint

index: don't forget to set key for DataIndexEntry
  dvc/repo/index.py
Due: mypy, pylint

index: set source fs/path for import data index entries
  dvc/repo/index.py
Due: mypy, pylint

index/out: add out.get_entry()
  dvc/output.py
  dvc/repo/index.py
Due: mypy, pylint

fetch: use data index save() for fetching imports
  dvc/repo/fetch.py
  dvc/repo/imports.py
Due: mypy, pylint

tests: Remove test_ssh
  tests/unit/fs/test_ssh.py
Due: pylint

import-url: support cloud versioning
  dvc/commands/imp_url.py
  dvc/dependency/base.py
  dvc/output.py
  dvc/repo/imp_url.py
  dvc/repo/status.py
  dvc/stage/__init__.py
  tests/unit/command/test_imp_url.py
Due: mypy, pylint

import-url: only unpartial imports in workspace
  dvc/repo/fetch.py
  dvc/repo/imports.py
Due: mypy, pylint

index: remove partial_imports in favor of repo.imports view
  dvc/repo/__init__.py
  dvc/repo/index.py
Due: mypy, pylint

_debug: minor refactor on debugtools
  dvc/_debug.py
Due: mypy, pylint

delete test
  tests/unit/command/test_debug.py
Due: pylint

_debug: minor refactor on debugtools (#8454)
  dvc/_debug.py
  tests/unit/command/test_debug.py
Due: mypy, pylint

debug: add --show-stack/--ss flag
  dvc/_debug.py
Due: mypy, pylint

exp show: Use batch call on `scm.describe`
  dvc/commands/experiments/ls.py
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/show.py
  setup.cfg
  tests/func/experiments/test_experiments.py
  tests/func/experiments/test_show.py
Due: mypy, pylint

Give lock acquiring more time in concurrency situation.
  dvc/repo/experiments/queue/base.py
Due: mypy, pylint

index: data: don't forget to set entry.key
  dvc/repo/index.py
Due: mypy, pylint

push: use build_tree instead of tree_from_index
  dvc/repo/push.py
Due: mypy, pylint

Use celery status as the exp show status
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/executor/base.py
  dvc/repo/experiments/show.py
  tests/func/experiments/test_show.py
Due: mypy, pylint

index: support multiple targets within output in IndexView
  dvc/repo/index.py
Due: mypy, pylint
