Repository iterative/dvc: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

ci:
  skip: [mypy, pylint, dvc-pre-commit]

repos:
  - hooks:
      - id: black
        language_version: python3
    repo: https://github.com/ambv/black
    rev: 22.3.0
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-toml
      - id: check-yaml
  - hooks:
      - id: codespell
        args: 
          - --ignore-words-list
          - ba,datas,fo,uptodate,cachable
    repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
  - hooks:
      - id: isort
        language_version: python3
    repo: https://github.com/timothycrosley/isort
    rev: 5.10.1
  - hooks:
      - id: flake8
        language_version: python3
        additional_dependencies:
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-debugger
          - flake8-string-format
    repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
  - repo: local
    hooks:
    - id: mypy
      name: mypy
      entry: mypy
      files: ^dvc/
      language: system
      types: [python]
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
  - hooks:
      - args:
          - -i
          - "2"
        id: beautysh
        language_version: python3
    repo: https://github.com/lovesegfault/beautysh
    rev: v6.2.1
  - hooks:
      - args:
          - git-hook
          - pre-commit
        entry: dvc
        id: dvc-pre-commit
        language: system
        name: DVC pre-commit
        stages:
          - commit
        verbose: true
        require_serial: true
      - args:
          - git-hook
          - pre-push
        entry: dvc
        id: dvc-pre-push
        language: system
        name: DVC pre-push
        stages:
          - push
        require_serial: true
      - always_run: true
        args:
          - git-hook
          - post-checkout
        entry: dvc
        id: dvc-post-checkout
        language: system
        minimum_pre_commit_version: 2.2.0
        name: DVC post-checkout
        stages:
          - post-checkout
        require_serial: true
    repo: local

tests: remove prints
  tests/func/test_ignore.py
Due: pylint

tests: set XDG_CONFIG_HOME in isolate fixture
  tests/conftest.py
Due: pylint

tests: support global and system dvc config isolation
  tests/conftest.py
Due: pylint

tests: use a custom file name for excludesfile
  tests/func/test_ignore.py
Due: pylint

tests: allow config dirs to be called for different apps
  tests/conftest.py
Due: pylint

Add a new attribute status to ExecutorInfo file
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/executor/base.py
  dvc/repo/experiments/executor/local.py
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/workspace.py
Due: mypy, pylint

Add tests for executor status
  tests/func/experiments/conftest.py
  tests/unit/repo/experiments/conftest.py
  tests/unit/repo/experiments/test_executor_status.py
Due: pylint

Remove the stale manager code
  dvc/repo/experiments/executor/manager/__init__.py
  dvc/repo/experiments/executor/manager/base.py
  dvc/repo/experiments/executor/manager/local.py
  dvc/repo/experiments/executor/manager/ssh.py
  dvc/repo/experiments/queue/celery.py
Due: mypy, pylint

Make executor info compatible with old versions.
  dvc/repo/experiments/executor/base.py
  tests/unit/repo/experiments/test_executor_status.py
Due: mypy, pylint

Use task status to replace collected.
  dvc/repo/experiments/executor/base.py
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/celery.py
  dvc/repo/experiments/queue/tasks.py
  dvc/repo/experiments/queue/tempdir.py
  dvc/repo/experiments/queue/workspace.py
  tests/func/experiments/executor/test_ssh.py
  tests/func/experiments/test_show.py
Due: mypy, pylint

Refactor seperate the initialization of executor and setup environment
  dvc/repo/experiments/executor/base.py
  dvc/repo/experiments/executor/local.py
  dvc/repo/experiments/executor/manager/base.py
  dvc/repo/experiments/executor/manager/local.py
  dvc/repo/experiments/executor/ssh.py
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/tasks.py
  dvc/repo/experiments/queue/tempdir.py
  dvc/repo/experiments/queue/workspace.py
  tests/func/experiments/executor/test_ssh.py
  tests/unit/repo/experiments/queue/test_local.py
Due: mypy, pylint

Move infofile operation to executor and
  dvc/repo/experiments/executor/base.py
  dvc/repo/experiments/executor/local.py
  dvc/repo/experiments/executor/ssh.py
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/tasks.py
  dvc/repo/experiments/queue/tempdir.py
  dvc/repo/experiments/queue/workspace.py
  tests/func/experiments/executor/test_ssh.py
  tests/unit/repo/experiments/test_executor_status.py
Due: mypy, pylint

remove mergify
  .github/mergify.yml
Due: none

remove mergify (#8319)
  .github/mergify.yml
Due: none

use native concurrency
  .github/workflows/benchmarks.yaml
  .github/workflows/tests.yaml
Due: none

cli: rename cli util, hide `data ls` from the help
  dvc/cli/utils.py
  dvc/commands/data.py
  dvc/commands/experiments/__init__.py
Due: mypy, pylint

use native concurrency (#8320)
  .github/workflows/benchmarks.yaml
  .github/workflows/tests.yaml
Due: none

cli: rename cli util, hide `data ls` from the help (#8321)
  dvc/cli/utils.py
  dvc/commands/data.py
  dvc/commands/experiments/__init__.py
Due: mypy, pylint

lint: pin astroid version
  setup.cfg
Due: none

lint: pin astroid version (#8323)
  setup.cfg
Due: none

deps: bump dvc-s3
  setup.cfg
Due: none

push: use update_pipeline=False for cloud versioning
  dvc/repo/push.py
Due: mypy, pylint

deps: bump dvc-data to 0.10.1
  setup.cfg
Due: none

dvcfs: remove get-file implementation
  dvc/fs/dvc.py
  tests/func/test_fs.py
Due: mypy, pylint

dvcfs: remove get-file implementation, make dvcfs non-cachable (#8331)
  dvc/fs/dvc.py
  tests/func/test_fs.py
Due: mypy, pylint

deps: bump dvc-http to 2.27.2
  setup.cfg
Due: none

build(deps-dev): Bump astroid from 2.12.9 to 2.12.10
  setup.cfg
Due: none

fs.callback.RichCallback: add transient support
  dvc/fs/callbacks.py
Due: mypy, pylint

fs.callback.RichCallback: add transient support (#8335)
  dvc/fs/callbacks.py
Due: mypy, pylint

document dvcfs
  dvc/fs/dvc.py
Due: mypy, pylint

document dvcfs (#8332)
  dvc/fs/dvc.py
Due: mypy, pylint

fixed link to "get started: pipelines" docs
  README.rst
Due: none

hydra: Fix sweeps on Defaults List.
  dvc/utils/hydra.py
  tests/func/utils/test_hydra.py
Due: mypy, pylint

import/import-url: ignore outs when using --no-download
  dvc/stage/__init__.py
  tests/func/test_import_url.py
Due: mypy, pylint
