Repository iterative/dvc: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

ci:
  skip: [mypy, pylint, dvc-pre-commit]

repos:
  - hooks:
      - id: black
        language_version: python3
    repo: https://github.com/ambv/black
    rev: 22.3.0
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-toml
      - id: check-yaml
  - hooks:
      - id: codespell
        args: 
          - --ignore-words-list
          - ba,datas,fo,uptodate,cachable
    repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
  - hooks:
      - id: isort
        language_version: python3
    repo: https://github.com/timothycrosley/isort
    rev: 5.10.1
  - hooks:
      - id: flake8
        language_version: python3
        additional_dependencies:
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-debugger
          - flake8-string-format
    repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
  - repo: local
    hooks:
    - id: mypy
      name: mypy
      entry: mypy
      files: ^dvc/
      language: system
      types: [python]
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
  - hooks:
      - args:
          - -i
          - "2"
        id: beautysh
        language_version: python3
    repo: https://github.com/lovesegfault/beautysh
    rev: v6.2.1
  - hooks:
      - args:
          - git-hook
          - pre-commit
        entry: dvc
        id: dvc-pre-commit
        language: system
        name: DVC pre-commit
        stages:
          - commit
        verbose: true
        require_serial: true
      - args:
          - git-hook
          - pre-push
        entry: dvc
        id: dvc-pre-push
        language: system
        name: DVC pre-push
        stages:
          - push
        require_serial: true
      - always_run: true
        args:
          - git-hook
          - post-checkout
        entry: dvc
        id: dvc-post-checkout
        language: system
        minimum_pre_commit_version: 2.2.0
        name: DVC post-checkout
        stages:
          - post-checkout
        require_serial: true
    repo: local

fix lint
  dvc/ignore.py
Due: mypy, pylint

dvcfs: default open to binary mode
  dvc/fs/dvc.py
Due: mypy, pylint

dvc-data: bump to 0.8.0
  dvc/stage/serialize.py
  setup.cfg
Due: mypy, pylint

push/fetch: support dirs in worktree remotes
  dvc/repo/fetch.py
  dvc/repo/push.py
Due: mypy, pylint

output: lazy load tree from files list in get_obj
  dvc/output.py
Due: mypy, pylint

output: support loading/dumping dir trees from metadata
  dvc/dependency/param.py
  dvc/dependency/repo.py
  dvc/dvcfile.py
  dvc/output.py
  dvc/stage/__init__.py
  dvc/stage/serialize.py
  dvc/stage/utils.py
Due: mypy, pylint

index: add workspace/key generation helper
  dvc/output.py
  dvc/repo/index.py
Due: mypy, pylint

schema: update lockfile schema for versioning and dir files
  dvc/schema.py
Due: mypy, pylint

fix lint
  tests/func/test_check_ignore.py
Due: pylint

schema: add strict schema validation for top-level plots (#8289)
  dvc/schema.py
Due: mypy, pylint

dvcfs: add tests
  dvc/fs/dvc.py
  dvc/testing/test_api.py
Due: mypy, pylint

dvcfs: add fsspec-compliance tests (#8296)
  dvc/fs/dvc.py
  dvc/testing/test_api.py
Due: mypy, pylint

try to split tests
  .github/workflows/tests.yaml
Due: none

try to split testsuites into two (#8297)
  .github/workflows/tests.yaml
Due: none

index: use tree obj if using inline files
  dvc/output.py
  dvc/repo/index.py
Due: mypy, pylint

loader: don't forget to set meta.isdir
  dvc/stage/loader.py
Due: mypy, pylint

dvcfs: rename DvcFileSystem to DVCFileSystem
  dvc/api/__init__.py
  dvc/dependency/repo.py
  dvc/fs/__init__.py
  dvc/fs/dvc.py
  dvc/repo/__init__.py
  dvc/repo/collect.py
  dvc/repo/diff.py
  dvc/repo/ls.py
  dvc/repo/metrics/show.py
  dvc/repo/plots/__init__.py
  dvc/testing/test_api.py
  setup.cfg
  tests/unit/fs/test_data.py
  tests/unit/fs/test_dvc.py
  tests/unit/fs/test_dvc_info.py
Due: mypy, pylint

deps: bump dvc-azure to 2.20.4
  setup.cfg
Due: none

dvcfs: prevent opening file object in write mode
  dvc/fs/dvc.py
Due: mypy, pylint

dvcfs: rename DvcFileSystem to DVCFileSystem (#8307)
  dvc/api/__init__.py
  dvc/dependency/repo.py
  dvc/fs/__init__.py
  dvc/fs/dvc.py
  dvc/repo/__init__.py
  dvc/repo/collect.py
  dvc/repo/diff.py
  dvc/repo/ls.py
  dvc/repo/metrics/show.py
  dvc/repo/plots/__init__.py
  dvc/testing/test_api.py
  setup.cfg
  tests/unit/fs/test_data.py
  tests/unit/fs/test_dvc.py
  tests/unit/fs/test_dvc_info.py
Due: mypy, pylint

deps: bump dvc-data to 0.10.0
  dvc/testing/test_remote.py
  setup.cfg
  tests/func/test_add.py
  tests/func/test_data_cloud.py
  tests/func/test_ignore.py
  tests/func/test_odb.py
  tests/func/test_remote.py
  tests/func/test_run_single_stage.py
Due: mypy, pylint

analytics: use iterative-telemetry for user_id lookup
  dvc/analytics.py
  setup.cfg
  tests/unit/test_analytics.py
Due: mypy, pylint

deps: add testing group for dvc.testing requirements
  dvc/testing/test_api.py
  setup.cfg
Due: mypy, pylint

tests: make isolate fixture isolate system-level config dir
  tests/conftest.py
  tests/func/test_check_ignore.py
  tests/func/test_ignore.py
Due: pylint

tests: do not fail if dir exists while creation
  tests/func/test_check_ignore.py
  tests/func/test_ignore.py
Due: pylint

tests: print vars to debug ci check failure
  tests/func/test_ignore.py
Due: pylint

tests: print /Users/meshde to debug ci check
  tests/func/test_ignore.py
Due: pylint
