Repository iterative/dvc: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

default_language_version:
  python: python3

ci:
  skip: [mypy, pylint, dvc-pre-commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
        exclude: "tests/func/utils/test_strict_yaml.py"
        args: ['--assume-in-merge']
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
        exclude: "dvc/_debug.py"
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/lovesegfault/beautysh
    rev: v6.2.1
    hooks:
      - id: beautysh
        args: ["-i", "2"]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.2.0
    hooks:
      - id: pyupgrade
        args:
          - --py38-plus
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
        additional_dependencies: ["tomli"]
  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-broken-line
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-debugger
          - flake8-string-format
  - repo: local
    hooks:
    - id: mypy
      name: mypy
      entry: mypy
      files: ^dvc/
      language: system
      types: [python]
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
  - hooks:
      - args:
          - git-hook
          - pre-commit
        entry: dvc
        id: dvc-pre-commit
        language: system
        name: DVC pre-commit
        stages:
          - commit
        verbose: true
        require_serial: true
      - args:
          - git-hook
          - pre-push
        entry: dvc
        id: dvc-pre-push
        language: system
        name: DVC pre-push
        stages:
          - push
        require_serial: true
      - always_run: true
        args:
          - git-hook
          - post-checkout
        entry: dvc
        id: dvc-post-checkout
        language: system
        minimum_pre_commit_version: 2.2.0
        name: DVC post-checkout
        stages:
          - post-checkout
        require_serial: true
    repo: local

deps: Bump scmrepo>=0.1.14
  pyproject.toml
Due: none

scm: Remove unused GitMergeError.
  dvc/scm.py
  tests/unit/scm/test_scm.py
Due: mypy, pylint

update ruff to v0.0.254
  .pre-commit-config.yaml
  dvc/dvcfile.py
  dvc/parsing/interpolate.py
  dvc/repo/experiments/init.py
  dvc/repo/experiments/show.py
  dvc/repo/experiments/utils.py
  dvc/repo/plots/__init__.py
  pyproject.toml
Due: mypy, pylint

update ruff to v0.0.254 (#9110)
  .pre-commit-config.yaml
  dvc/dvcfile.py
  dvc/parsing/interpolate.py
  dvc/repo/experiments/init.py
  dvc/repo/experiments/show.py
  dvc/repo/experiments/utils.py
  dvc/repo/plots/__init__.py
  pyproject.toml
Due: mypy, pylint

fix(push): allow no default remote
  dvc/repo/push.py
Due: mypy, pylint

exp show: don't cache collection errors
  dvc/repo/experiments/serialize.py
  dvc/repo/experiments/show.py
Due: mypy, pylint

tests: filter warnings
  dvc/dependency/param.py
  dvc/render/match.py
  dvc/repo/plots/__init__.py
  dvc/utils/strictyaml.py
  pyproject.toml
  tests/integration/plots/test_plots.py
  tests/utils/plots.py
Due: mypy, pylint

tests: filter warnings (#9115)
  dvc/dependency/param.py
  dvc/render/match.py
  dvc/repo/plots/__init__.py
  dvc/utils/strictyaml.py
  pyproject.toml
  tests/integration/plots/test_plots.py
  tests/utils/plots.py
Due: mypy, pylint

deps (tests): require pytest-xdist>=3.2, use `-n=logical` workers and workstealing scheduler
  .github/workflows/tests.yaml
  pyproject.toml
  tests/__main__.py
Due: pylint

deps (tests): require pytest-xdist>=3.2, use `-n=logical` workers and workstealing scheduler (#9116)
  .github/workflows/tests.yaml
  pyproject.toml
  tests/__main__.py
Due: pylint

close open files/descriptors when tests finish
  tests/func/test_lock.py
  tests/unit/proc/test_process.py
Due: pylint

tests: don't leak files/descriptors when tests finish (#9119)
  tests/func/test_lock.py
  tests/unit/proc/test_process.py
Due: pylint

increase timeout for tests to 40 minutes
  .github/workflows/tests.yaml
Due: none

deps: bump scmrepo to 0.1.15; close subrepo.dvc on tests teardown
  pyproject.toml
  tests/func/experiments/test_experiments.py
Due: pylint

deps: bump scmrepo to 0.1.15; close subrepo.dvc on tests teardown (#9122)
  pyproject.toml
  tests/func/experiments/test_experiments.py
Due: pylint

plots: Remove unnecessary OrderedDict usage in load_sv.
  dvc/repo/plots/__init__.py
Due: mypy, pylint

plots: Remove `--from-config`
  dvc/commands/plots.py
  dvc/repo/plots/__init__.py
  tests/func/plots/test_show.py
  tests/unit/command/test_plots.py
Due: mypy, pylint

plots: Fix `match_defs_renderers` when plots are defined in `nt` format.
  dvc/render/match.py
  tests/func/plots/test_show.py
Due: mypy, pylint

allow list interpolations
  dvc/parsing/interpolate.py
  dvc/utils/strictyaml.py
  tests/func/parsing/test_interpolated_entry.py
Due: mypy, pylint

exp show: fix cached running checkpoint state bug
  dvc/repo/experiments/show.py
Due: mypy, pylint

proc: remove dvc.proc
  dvc/proc/__init__.py
  dvc/proc/exceptions.py
  dvc/proc/manager.py
  dvc/proc/process.py
  tests/unit/proc/__init__.py
  tests/unit/proc/test_manager.py
  tests/unit/proc/test_process.py
Due: mypy, pylint

set returncode to popen to avoid ResourceWarning on gc.collect()
  dvc/daemon.py
Due: mypy, pylint

run-cache: avoid leaking temp files on Windows
  dvc/stage/cache.py
Due: mypy, pylint

tests: error on ResourceWarning
  pyproject.toml
Due: none

migrate from appdirs to platformdirs
  dvc/config.py
  pyproject.toml
Due: mypy, pylint

migrate from appdirs to platformdirs (#9131)
  dvc/config.py
  pyproject.toml
Due: mypy, pylint

studio: Send `metrics` on `done` event.
  dvc/repo/experiments/executor/base.py
  pyproject.toml
  tests/integration/test_studio_live_experiments.py
Due: mypy, pylint

studio: Send `metrics` on `done` event. (#9027)
  dvc/repo/experiments/executor/base.py
  pyproject.toml
  tests/integration/test_studio_live_experiments.py
Due: mypy, pylint

exp run: allow running in empty git repo
  dvc/repo/experiments/__init__.py
  tests/func/experiments/test_experiments.py
Due: mypy, pylint

Add back an dvc ignore test
  tests/unit/test_ignore.py
Due: pylint

tests: error on ResourceWarning (#9123)
  dvc/daemon.py
  dvc/stage/cache.py
  pyproject.toml
Due: mypy, pylint
