Repository iterative/dvc: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

default_language_version:
  python: python3

ci:
  skip: [mypy, pylint, dvc-pre-commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
        exclude: "tests/func/utils/test_strict_yaml.py"
        args: ['--assume-in-merge']
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
        exclude: "dvc/_debug.py"
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/lovesegfault/beautysh
    rev: v6.2.1
    hooks:
      - id: beautysh
        args: ["-i", "2"]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.2.0
    hooks:
      - id: pyupgrade
        args:
          - --py38-plus
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
        additional_dependencies: ["tomli"]
  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-broken-line
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-debugger
          - flake8-string-format
  - repo: local
    hooks:
    - id: mypy
      name: mypy
      entry: mypy
      files: ^dvc/
      language: system
      types: [python]
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
  - hooks:
      - args:
          - git-hook
          - pre-commit
        entry: dvc
        id: dvc-pre-commit
        language: system
        name: DVC pre-commit
        stages:
          - commit
        verbose: true
        require_serial: true
      - args:
          - git-hook
          - pre-push
        entry: dvc
        id: dvc-pre-push
        language: system
        name: DVC pre-push
        stages:
          - push
        require_serial: true
      - always_run: true
        args:
          - git-hook
          - post-checkout
        entry: dvc
        id: dvc-post-checkout
        language: system
        minimum_pre_commit_version: 2.2.0
        name: DVC post-checkout
        stages:
          - post-checkout
        require_serial: true
    repo: local

remove typing.cast (#9082)
  dvc/dependency/param.py
  dvc/fs/callbacks.py
  dvc/output.py
  dvc/repo/__init__.py
  dvc/repo/imports.py
  dvc/repo/index.py
  dvc/repo/worktree.py
  dvc/stage/serialize.py
  dvc/utils/serialize/_common.py
Due: mypy, pylint

testing: fixtures: fix docker regression
  dvc/testing/fixtures.py
Due: mypy, pylint

Revert "testing: fixtures: fix docker regression"
  dvc/testing/fixtures.py
Due: mypy, pylint

deps: Bump scmrepo>=0.1.13.
  pyproject.toml
Due: none

dvc.testing.docker_services: rollback to previous state
  dvc/testing/fixtures.py
  pyproject.toml
Due: mypy, pylint

dvc.testing: fix lockfile in docker_services fixture (#9088)
  dvc/testing/fixtures.py
  pyproject.toml
Due: mypy, pylint

build: use macos-11 to build package
  .github/workflows/packages.yaml
Due: none

build: use macos-11 to build package (#9091)
  .github/workflows/packages.yaml
Due: none

deps: bump dvc-data to 0.42.0
  pyproject.toml
Due: none

exp save: Don't relink during commit
  dvc/repo/experiments/save.py
Due: mypy, pylint

deps: bump dvc-gs to 2.22.0
  pyproject.toml
Due: none

exp: fix queued run file descriptor leak
  dvc/repo/experiments/queue/tasks.py
Due: mypy, pylint

repo: call Repo.close() on Repo.__exit__()
  dvc/repo/__init__.py
Due: mypy, pylint

exp: ensure repo instance is closed after executor.reproduce
  dvc/repo/experiments/executor/base.py
Due: mypy, pylint

exp: auto cleanup celery on queue worker exit
  dvc/commands/experiments/queue_worker.py
  dvc/repo/experiments/queue/celery.py
Due: mypy, pylint

deps: bump dvc-task to >=0.2.0
  pyproject.toml
Due: none

exp: add `dvc exp clean` command
  dvc/commands/experiments/__init__.py
  dvc/commands/experiments/clean.py
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/clean.py
  tests/func/experiments/test_experiments.py
  tests/unit/command/test_experiments.py
Due: mypy, pylint

exp: use stash-apply instead of merge
  dvc/repo/experiments/executor/local.py
  dvc/repo/experiments/executor/ssh.py
Due: mypy, pylint

remote: set hash_name as md5
  dvc/data_cloud.py
  dvc/testing/workspace_tests.py
  tests/func/test_add.py
  tests/func/test_import_url.py
Due: mypy, pylint

tests: unmark exp celery tests as xfail
  tests/func/experiments/test_apply.py
Due: pylint

deps: bump dvc-data to >=0.42.1
  pyproject.toml
Due: none

deps: Drop dvclive.
  dvc/info.py
  pyproject.toml
Due: mypy, pylint

exp pull: fetch_refspecs with remote url instead of remote name.
  dvc/repo/experiments/pull.py
  pyproject.toml
  tests/func/experiments/test_remote.py
Due: mypy, pylint
