Repository iterative/dvc: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

Removed tests for SSE-C in test_s3.py
  tests/unit/fs/test_s3.py
Due: pylint

Removed unused variables in test_s3.py
  tests/unit/fs/test_s3.py
Due: pylint

api: Add `params_show`.
  dvc/api.py
  dvc/repo/params/show.py
  tests/func/test_api.py
Due: mypy, pylint

api: Move to sub-package.
  dvc/api.py
  dvc/api/__init__.py
  dvc/api/data.py
  dvc/api/experiments.py
  dvc/api/params.py
  dvc/testing/tmp_dir.py
  tests/func/api/test_data.py
  tests/func/api/test_params.py
  tests/func/experiments/test_experiments.py
  tests/func/test_external_repo.py
  tests/func/test_get.py
  tests/func/test_import.py
  tests/func/test_update.py
  tests/unit/fs/test_dvc.py
  tests/unit/fs/test_dvc_info.py
  tests/unit/test_external_repo.py
Due: mypy, pylint

repo.collect: Add `duplicates` option.
  dvc/repo/collect.py
  tests/unit/test_collect.py
Due: mypy, pylint

params.show: Fix `deps` for stages using same params file.
  dvc/repo/params/show.py
  tests/func/params/test_show.py
Due: mypy, pylint

setup: bump dvc-data to 0.0.12
  dvc/output.py
  setup.cfg
Due: mypy, pylint

Merge pull request #7671 from ap-kulkarni/amey/6141
  dvc/config_schema.py
Due: mypy, pylint

config: remove core.jobs dead code
  dvc/fs/__init__.py
  tests/unit/remote/test_remote.py
Due: mypy, pylint

deps: bump dvc-data to 0.0.13
  setup.cfg
Due: none

queue status: add some unit test to increase the coverage
  tests/unit/command/test_queue.py
Due: pylint

setup: bump dvc-data
  setup.cfg
Due: none

render: image_converter: Support slash in revision.
  dvc/render/image_converter.py
  tests/unit/render/test_image_converter.py
Due: mypy, pylint

api: params_show: Raise exception if no params found.
  dvc/api/params.py
  tests/func/api/test_params.py
Due: mypy, pylint

dvc-task: bump to 0.0.12
  setup.cfg
Due: none

exp queue: separate queue implementations into their own modules
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/queue/celery.py
  dvc/repo/experiments/queue/workspace.py
  tests/unit/command/test_queue.py
  tests/unit/repo/experiments/conftest.py
Due: mypy, pylint

exp show: collect running standalone tempdir experiments
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/queue/tempdir.py
  dvc/repo/experiments/queue/workspace.py
  dvc/repo/experiments/show.py
  tests/func/experiments/test_show.py
Due: mypy, pylint

exp queue: add separate standalone/tempdir implementation
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/executor/local.py
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/celery.py
  dvc/repo/experiments/queue/tasks.py
  dvc/repo/experiments/queue/tempdir.py
  tests/func/experiments/test_remove.py
Due: mypy, pylint

exp show: use unique executor name for dvc-task & standalone tempdir exps
  dvc/repo/experiments/executor/local.py
  dvc/repo/experiments/queue/tasks.py
Due: mypy, pylint

exp run: update --run-all logs behavior
  dvc/repo/experiments/__init__.py
Due: mypy, pylint

exp run: preserve --temp standalone behavior
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/executor/local.py
  dvc/repo/experiments/run.py
  tests/func/experiments/test_experiments.py
Due: mypy, pylint

deps: bump dvc-data to 0.0.16
  setup.cfg
Due: none

deps: remove setuptools_scm_git_archive
  .git_archival.txt
  pyproject.toml
  setup.cfg
Due: none

dvc-task: bump to 0.1.0
  setup.cfg
Due: none

Rename _all to all_ remove some tricky func test.
  dvc/commands/queue/remove.py
  dvc/repo/experiments/queue/remove.py
  tests/func/experiments/test_queue.py
  tests/unit/command/test_queue.py
  tests/unit/repo/experiments/queue/test_remove.py
Due: mypy, pylint

Path conditions:
  mypy: any of: ^dvc/ and \.py$
  pylint: any of: \.py$
