Repository iterative/dvc: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

exp queue: add separate standalone/tempdir implementation
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/executor/local.py
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/celery.py
  dvc/repo/experiments/queue/tasks.py
  dvc/repo/experiments/queue/tempdir.py
  tests/func/experiments/test_remove.py
Due: mypy, pylint

queue: ui cleanup
  dvc/commands/queue/__init__.py
  dvc/commands/queue/kill.py
  dvc/commands/queue/logs.py
  dvc/commands/queue/remove.py
  dvc/commands/queue/start.py
  dvc/commands/queue/status.py
  dvc/commands/queue/stop.py
  tests/unit/command/test_queue.py
Due: mypy, pylint

queue: cleanup flaky tests
  dvc/repo/experiments/queue/celery.py
  tests/func/experiments/test_experiments.py
  tests/unit/repo/experiments/queue/test_local.py
Due: mypy, pylint

Upgrade from toml to tomlkit library
  dvc/utils/serialize/_toml.py
  setup.cfg
  tests/func/params/test_show.py
  tests/unit/dependency/test_params.py
Due: mypy, pylint

tests: limit printed durations to 50
  tests/__main__.py
Due: pylint

readme: improve and reformat How it works
  README.rst
Due: none

readme: move How it works after Quick started sections
  README.rst
Due: none

readme: better Studio mention
  README.rst
Due: none

readme: 1 sentence = 1 line formatting
  README.rst
Due: none

readme: add paragraph about `dvc exp`, add GS links
  README.rst
Due: none

Revert "readme: roll back non-vscode changes"
  README.rst
Due: none

gc: add a new flag `--time` (#678)
  dvc/commands/gc.py
  dvc/repo/gc.py
  tests/unit/command/test_gc.py
Due: mypy, pylint

Add argument `commit_time` to `gc`/`brancher` and `iter_revs`
  dvc/repo/__init__.py
  dvc/repo/brancher.py
  dvc/repo/gc.py
  dvc/scm.py
  tests/unit/scm/test_scm.py
Due: mypy, pylint

Implement `--date` to `exp gc`
  dvc/commands/experiments/gc.py
  dvc/commands/gc.py
  dvc/repo/__init__.py
  dvc/repo/brancher.py
  dvc/repo/experiments/gc.py
  dvc/repo/gc.py
  dvc/scm.py
  tests/func/test_gc.py
  tests/unit/command/test_experiments.py
  tests/unit/command/test_gc.py
  tests/unit/scm/test_scm.py
Due: mypy, pylint

Gc: Move old unittest gc tests to pytest
  tests/func/test_cli.py
  tests/unit/command/test_gc.py
Due: pylint

Rename _all to all_ remove some tricky func test.
  dvc/commands/queue/remove.py
  dvc/repo/experiments/queue/remove.py
  tests/func/experiments/test_queue.py
  tests/unit/command/test_queue.py
  tests/unit/repo/experiments/queue/test_remove.py
Due: mypy, pylint

dvc-task: bump to 0.0.10
  setup.cfg
  tests/unit/repo/experiments/queue/test_local.py
Due: pylint

exp queue: Add two command queue start and stop (#7589)
  dvc/commands/queue/__init__.py
  dvc/commands/queue/start.py
  dvc/commands/queue/stop.py
  tests/unit/command/test_queue.py
Due: mypy, pylint

queue worker shutdown: disable restore
  dvc/repo/experiments/queue/local.py
Due: mypy, pylint

exp: re-enable most tmpdir/queue tests
  tests/func/experiments/conftest.py
  tests/func/experiments/test_experiments.py
  tests/func/experiments/test_gc.py
  tests/func/experiments/test_remove.py
Due: pylint

exp show: collect running standalone tempdir experiments
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/queue/tempdir.py
  dvc/repo/experiments/queue/workspace.py
  dvc/repo/experiments/show.py
  tests/func/experiments/test_show.py
Due: mypy, pylint

exp: use celery threadpool worker instead of prefork
  dvc/repo/experiments/queue/local.py
  setup.cfg
Due: mypy, pylint

exp: use dvc.daemon to run worker on windows
  dvc/daemon.py
  dvc/repo/experiments/queue/local.py
Due: mypy, pylint

queue start: give every worker a unique name
  dvc/repo/experiments/queue/local.py
Due: mypy, pylint

queue status: use summary style output for worker status
  dvc/commands/queue/status.py
  tests/unit/command/test_queue.py
Due: mypy, pylint

exp: use queue status in exp show
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/show.py
Due: mypy, pylint

exp: exclude celery stash ref from util iterators
  dvc/repo/experiments/refs.py
  dvc/repo/experiments/utils.py
Due: mypy, pylint

exp: add queue.iter_active for iterating over active exps
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/local.py
  dvc/repo/experiments/queue/tasks.py
Due: mypy, pylint

queue status: will show the current worker status
  dvc/commands/queue/status.py
  dvc/repo/experiments/queue/local.py
Due: mypy, pylint

exp queue: monitor queue status (#7590)
  dvc/commands/experiments/show.py
  dvc/commands/queue/__init__.py
  dvc/commands/queue/attach.py
  dvc/commands/queue/status.py
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/local.py
  tests/unit/command/test_queue.py
Due: mypy, pylint

exp queue: return completed exps in queue status
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/local.py
  dvc/repo/experiments/stash.py
  tests/func/experiments/test_experiments.py
Due: mypy, pylint

exp: wait for task collection when getting exp result
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/executor/base.py
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/local.py
  dvc/repo/experiments/queue/tasks.py
Due: mypy, pylint

exp: temporarily mark tmpdir/queue tests as xfail
  tests/func/experiments/conftest.py
  tests/func/experiments/test_checkpoints.py
  tests/func/experiments/test_experiments.py
  tests/func/experiments/test_gc.py
  tests/func/experiments/test_remove.py
  tests/func/experiments/test_show.py
Due: pylint

tests: use pytest-celery for exp tests
  tests/func/experiments/conftest.py
  tests/func/experiments/test_experiments.py
Due: pylint

exp: implement internal queue.kill support(#7587)
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/local.py
  dvc/repo/experiments/remove.py
  tests/unit/repo/experiments/queue/test_local.py
Due: mypy, pylint

Path conditions:
  mypy: any of: ^dvc/ and \.py$
  pylint: any of: \.py$
