Repository iterative/dvc: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

default_language_version:
  python: python3

ci:
  skip: [mypy, pylint, dvc-pre-commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
        exclude: "tests/func/utils/test_strict_yaml.py"
        args: ['--assume-in-merge']
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
        exclude: "dvc/_debug.py"
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/lovesegfault/beautysh
    rev: v6.2.1
    hooks:
      - id: beautysh
        args: ["-i", "2"]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.2.0
    hooks:
      - id: pyupgrade
        args:
          - --py38-plus
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
        additional_dependencies: ["tomli"]
  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-broken-line
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-debugger
          - flake8-string-format
  - repo: local
    hooks:
    - id: mypy
      name: mypy
      entry: mypy
      files: ^dvc/
      language: system
      types: [python]
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
  - hooks:
      - args:
          - git-hook
          - pre-commit
        entry: dvc
        id: dvc-pre-commit
        language: system
        name: DVC pre-commit
        stages:
          - commit
        verbose: true
        require_serial: true
      - args:
          - git-hook
          - pre-push
        entry: dvc
        id: dvc-pre-push
        language: system
        name: DVC pre-push
        stages:
          - push
        require_serial: true
      - always_run: true
        args:
          - git-hook
          - post-checkout
        entry: dvc
        id: dvc-post-checkout
        language: system
        minimum_pre_commit_version: 2.2.0
        name: DVC post-checkout
        stages:
          - post-checkout
        require_serial: true
    repo: local

tests: fix logic to gc.collect() on Windows + 3.11
  tests/conftest.py
Due: pylint

dvc.cli: cache get_main_parser()
  dvc/cli/parser.py
Due: mypy, pylint

tests: isolate environment on a session-level
  tests/conftest.py
Due: pylint

bring back gc.collect()
  tests/conftest.py
Due: pylint

try to improve test speed (#9136)
  dvc/cli/parser.py
  tests/conftest.py
Due: mypy, pylint

fix(push): allow no default remote
  dvc/repo/push.py
Due: mypy, pylint

studio: handle revision errors when posting
  dvc/repo/experiments/utils.py
  tests/unit/repo/experiments/test_utils.py
Due: mypy, pylint

repo: use brancher.switch
  dvc/repo/data.py
  dvc/repo/experiments/show.py
Due: mypy, pylint

tests: use brancher.switch
  tests/func/experiments/test_checkpoints.py
  tests/unit/fs/test_data.py
  tests/unit/fs/test_dvc.py
Due: pylint

brancher: add brancher.switch helper
  dvc/repo/__init__.py
  dvc/repo/brancher.py
  dvc/repo/experiments/utils.py
  dvc/scm.py
Due: mypy, pylint

tests: mark test_queue_remove_done xfail
  tests/func/experiments/test_queue.py
Due: pylint

exp: add session-scoped celery test fixtures
  tests/unit/repo/experiments/conftest.py
Due: pylint

tests: use session-scoped exp celery fixtures when possible
  tests/func/experiments/conftest.py
  tests/func/experiments/test_apply.py
  tests/func/experiments/test_experiments.py
  tests/func/experiments/test_queue.py
  tests/unit/repo/experiments/queue/test_celery.py
Due: pylint

plots: avoid printing anything on --json output
  dvc/commands/plots.py
Due: mypy, pylint

plots: avoid printing anything on --json output (#9144)
  dvc/commands/plots.py
Due: mypy, pylint

output: suppress cloud.pull errors on cache collection
  dvc/output.py
  tests/unit/output/test_output.py
Due: mypy, pylint

DataCloud: don't set tmp_dir
  dvc/data_cloud.py
Due: mypy, pylint

fix(exp): cleanup help messages
  dvc/commands/experiments/clean.py
  dvc/commands/experiments/diff.py
  dvc/commands/experiments/gc.py
  dvc/commands/experiments/save.py
Due: mypy, pylint

Update dvc/utils/strictyaml.py
  dvc/utils/strictyaml.py
Due: mypy, pylint

config: ignore unspecified keys from `feature` section
  dvc/config_schema.py
  dvc/fs/__init__.py
  tests/unit/test_config.py
Due: mypy, pylint

config: ignore unspecified keys from `feature` section (#9153)
  dvc/config_schema.py
  dvc/fs/__init__.py
  tests/unit/test_config.py
Due: mypy, pylint

import funcy.get_in
  dvc/utils/strictyaml.py
Due: mypy, pylint

plots: disable syntax highlighting on plots json output
  dvc/commands/plots.py
  dvc/ui/__init__.py
Due: mypy, pylint

plots: disable syntax highlighting on plots json output (#9155)
  dvc/commands/plots.py
  dvc/ui/__init__.py
Due: mypy, pylint

deps: bump dvc-data to >= 0.42.2
  pyproject.toml
Due: none

repo: data_index: fallback to in-memory
  dvc/repo/__init__.py
  dvc/repo/index.py
Due: mypy, pylint

deps: bump dvc-data to >=0.42.3
  pyproject.toml
Due: none

update vega tests
  dvc/render/converter/vega.py
  tests/integration/plots/test_plots.py
  tests/unit/render/test_convert.py
  tests/unit/render/test_match.py
  tests/unit/render/test_vega_converter.py
Due: mypy, pylint
