Repository iterative/dvc: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

api: exp_show: Cleanup flags.
  dvc/api/experiments.py
Due: mypy, pylint

exp push: notify studio even if cache push fails (#9380)
  dvc/repo/experiments/push.py
Due: mypy, pylint

cache: Remove `assert _can_hash` in `_get_stage_hash`.
  dvc/stage/cache.py
Due: mypy, pylint

reproduce: Update pull flag to also pull run cache and mising deps.
  dvc/repo/reproduce.py
Due: mypy, pylint

reproduce: Add pull_mising_deps flag.
  dvc/commands/repro.py
  dvc/repo/reproduce.py
  dvc/stage/cache.py
Due: mypy, pylint

cache: Update `_can_hash` behavior to account for `cache: false`.
  dvc/stage/cache.py
Due: mypy, pylint

Add `--both` option to `dag` that draws both stages and files.
  README.rst
  dvc/commands/dag.py
Due: mypy, pylint

A bugfix? Or what was the intent?
  dvc/commands/dag.py
Due: mypy, pylint

add: msg for overlapping parent
  dvc/repo/add.py
  tests/func/test_add.py
Due: mypy, pylint

testing.benchmarks: separate fixtures and config
  dvc/testing/benchmarks/conftest.py
  dvc/testing/benchmarks/fixtures.py
  dvc/testing/conftest.py
  pyproject.toml
Due: mypy, pylint

testing: import dvc-bench benchmarks
  dvc/testing/benchmarks/__init__.py
  dvc/testing/benchmarks/api/__init__.py
  dvc/testing/benchmarks/cli/__init__.py
  dvc/testing/benchmarks/cli/commands/__init__.py
  dvc/testing/benchmarks/cli/commands/test_add.py
  dvc/testing/benchmarks/cli/commands/test_checkout.py
  dvc/testing/benchmarks/cli/commands/test_data_status.py
  dvc/testing/benchmarks/cli/commands/test_diff.py
  dvc/testing/benchmarks/cli/commands/test_exp_show.py
  dvc/testing/benchmarks/cli/commands/test_gc.py
  dvc/testing/benchmarks/cli/commands/test_get.py
  dvc/testing/benchmarks/cli/commands/test_get_url.py
  dvc/testing/benchmarks/cli/commands/test_help.py
  dvc/testing/benchmarks/cli/commands/test_import.py
  dvc/testing/benchmarks/cli/commands/test_import_url.py
  dvc/testing/benchmarks/cli/commands/test_init.py
  dvc/testing/benchmarks/cli/commands/test_ls.py
  dvc/testing/benchmarks/cli/commands/test_plots.py
  dvc/testing/benchmarks/cli/commands/test_pull.py
  dvc/testing/benchmarks/cli/commands/test_push.py
  dvc/testing/benchmarks/cli/commands/test_status.py
  dvc/testing/benchmarks/cli/commands/test_update.py
  dvc/testing/benchmarks/cli/stories/__init__.py
  dvc/testing/benchmarks/cli/stories/test_modify_data.py
  dvc/testing/benchmarks/cli/stories/use_cases/__init__.py
  dvc/testing/benchmarks/cli/stories/use_cases/test_sharing.py
  dvc/testing/benchmarks/conftest.py
  pyproject.toml
Due: mypy, pylint

testing: register pytest plugin
  dvc/testing/README.rst
  dvc/testing/benchmarks/cli/commands/test_plots.py
  dvc/testing/benchmarks/conftest.py
  dvc/testing/benchmarks/fixtures.py
  dvc/testing/benchmarks/plugin.py
  dvc/testing/conftest.py
  dvc/testing/plugin.py
  pyproject.toml
Due: mypy, pylint

testing.benchmarks: support installing remote deps in benchmark venv
  dvc/testing/benchmarks/fixtures.py
  dvc/testing/benchmarks/plugin.py
Due: mypy, pylint

deps: temporarily pin ruamel.yaml
  pyproject.toml
Due: none

Change style of files in the graph.
  dvc/commands/dag.py
Due: mypy, pylint

testing: separate session and function level scope behavior for dvc_bin
  dvc/testing/benchmarks/fixtures.py
  dvc/testing/benchmarks/plugin.py
Due: mypy, pylint

exp run: Support `--message`.
  dvc/commands/experiments/exec_run.py
  dvc/commands/experiments/run.py
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/executor/base.py
  dvc/repo/experiments/executor/ssh.py
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/celery.py
  dvc/repo/experiments/queue/tasks.py
  dvc/repo/experiments/queue/tempdir.py
  dvc/repo/experiments/queue/workspace.py
  dvc/repo/experiments/run.py
  tests/func/experiments/test_experiments.py
  tests/func/experiments/test_queue.py
Due: mypy, pylint

studio: Send `message` on `start` event.
  dvc/repo/experiments/executor/base.py
  pyproject.toml
  tests/integration/test_studio_live_experiments.py
Due: mypy, pylint

exp save: Support `--message`.
  dvc/commands/experiments/save.py
  dvc/repo/experiments/executor/base.py
  dvc/repo/experiments/save.py
  tests/func/experiments/test_save.py
Due: mypy, pylint

deps: unpin ruamel.yaml
  pyproject.toml
Due: none

tests: lockfile: use different way of changing a cmd
  tests/func/test_lockfile.py
Due: pylint

remove 'dvc get' from this PR, keep only adding artifacts
  dvc/commands/get.py
  dvc/dvcfile.py
  dvc/repo/artifacts.py
  dvc/repo/get.py
  tests/func/artifacts/test_artifacts.py
Due: mypy, pylint

allow first char of artifact name to be a number
  dvc/repo/artifacts.py
Due: mypy, pylint

add note about constants
  dvc/repo/artifacts.py
Due: mypy, pylint

data status: exclude remote status by default
  dvc/commands/data.py
  dvc/repo/data.py
  tests/func/test_data_status.py
  tests/unit/command/test_data_status.py
Due: mypy, pylint

gha: try setting PYTHONUTF8
  .github/workflows/tests.yaml
Due: none

utils: removing `diff` key from result dictionary
  dvc/utils/diff.py
Due: mypy, pylint

metrics: adds support for strings in metrics
  dvc/repo/metrics/show.py
  dvc/utils/diff.py
  tests/func/metrics/test_diff.py
Due: mypy, pylint

tests: changing tests to reverted diff functionality
  tests/func/metrics/test_diff.py
  tests/func/params/test_diff.py
Due: pylint

tests: adapting tests to new diff output
  tests/func/params/test_diff.py
Due: pylint

Path conditions:
  mypy: any of: ^dvc/ and \.py$
  pylint: any of: \.py$
