Repository iterative/dvc: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

default_language_version:
  python: python3

ci:
  skip: [mypy, pylint, dvc-pre-commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
        exclude: "tests/func/utils/test_strict_yaml.py"
        args: ['--assume-in-merge']
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
        exclude: "dvc/_debug.py"
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/lovesegfault/beautysh
    rev: v6.2.1
    hooks:
      - id: beautysh
        args: ["-i", "2"]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.2.0
    hooks:
      - id: pyupgrade
        args:
          - --py38-plus
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
        additional_dependencies: ["tomli"]
  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-broken-line
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-debugger
          - flake8-string-format
  - repo: local
    hooks:
    - id: mypy
      name: mypy
      entry: mypy
      files: ^dvc/
      language: system
      types: [python]
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
  - hooks:
      - args:
          - git-hook
          - pre-commit
        entry: dvc
        id: dvc-pre-commit
        language: system
        name: DVC pre-commit
        stages:
          - commit
        verbose: true
        require_serial: true
      - args:
          - git-hook
          - pre-push
        entry: dvc
        id: dvc-pre-push
        language: system
        name: DVC pre-push
        stages:
          - push
        require_serial: true
      - always_run: true
        args:
          - git-hook
          - post-checkout
        entry: dvc
        id: dvc-post-checkout
        language: system
        minimum_pre_commit_version: 2.2.0
        name: DVC post-checkout
        stages:
          - post-checkout
        require_serial: true
    repo: local

fix hydra_sweeps referenced before assignment
  dvc/repo/experiments/run.py
  tests/func/experiments/test_set_params.py
Due: mypy, pylint

exp init: Update DVCLive paths.
  dvc/repo/experiments/init.py
  tests/func/experiments/test_init.py
Due: mypy, pylint

deps: Bump dvclive to >= 1.0
  pyproject.toml
Due: none

Remove `live` section support.
  dvc/commands/stage.py
  dvc/env.py
  dvc/output.py
  dvc/repo/__init__.py
  dvc/repo/live.py
  dvc/repo/metrics/show.py
  dvc/repo/plots/__init__.py
  dvc/repo/reproduce.py
  dvc/schema.py
  dvc/stage/__init__.py
  dvc/stage/loader.py
  dvc/stage/monitor.py
  dvc/stage/params.py
  dvc/stage/serialize.py
  dvc/stage/utils.py
  pyproject.toml
  tests/func/test_live.py
  tests/unit/command/test_run.py
  tests/unit/command/test_stage.py
Due: mypy, pylint

refactor: combine metrics_show and params_show and remove args from metrics_show
  dvc/api/__init__.py
  dvc/api/show.py
Due: mypy, pylint

tests: ignore versions for subprojects
  tests/func/test_version.py
  tests/unit/test_info.py
Due: pylint

exp init: fix live metrics path
  dvc/repo/experiments/init.py
Due: mypy, pylint

pkging: also post released packages to test.pypi.org
  .github/workflows/packages.yaml
Due: none

Create codeql.yml
  .github/workflows/codeql.yml
Due: none

index: fix granular dir output view filtering
  dvc/repo/index.py
  tests/func/test_repo_index.py
Due: mypy, pylint

index: support filtering by output in views
  dvc/repo/imports.py
  dvc/repo/index.py
  tests/func/test_repo_index.py
Due: mypy, pylint

Make exp show handle errors better
  dvc/repo/experiments/diff.py
  dvc/repo/experiments/queue/utils.py
  dvc/repo/experiments/show.py
  tests/func/experiments/test_show.py
Due: mypy, pylint

dvc exceptions CyclicGraphError: add more clear message for the exception
  dvc/exceptions.py
Due: mypy, pylint

ci: test with 3.11 on all OSes
  .github/workflows/tests.yaml
Due: none

Update tests.yaml
  .github/workflows/tests.yaml
Due: none

ci: test with 3.11 on all OSes (#8543)
  .github/workflows/tests.yaml
Due: none

plots: support svg
  dvc/repo/plots/__init__.py
  tests/func/plots/test_show.py
Due: mypy, pylint

Solve the crash on getting name of applied experiment branch
  dvc/repo/experiments/show.py
  tests/unit/repo/experiments/test_show.py
Due: mypy, pylint

Fix some celery queue realted ci failure
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/executor/base.py
  dvc/repo/experiments/executor/local.py
  dvc/repo/experiments/queue/celery.py
  dvc/repo/experiments/show.py
  tests/func/experiments/test_queue.py
  tests/func/experiments/test_show.py
  tests/unit/repo/experiments/test_executor_status.py
Due: mypy, pylint

Solve run_all flaky tests
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/queue/celery.py
  dvc/repo/experiments/run.py
  tests/func/experiments/test_experiments.py
  tests/func/experiments/test_show.py
Due: mypy, pylint

tests: garbage collect sqlite connections on Windows + Python 3.11
  tests/conftest.py
Due: pylint

mypy: allow implicit-optional
  pyproject.toml
Due: none

output: fix get_entry dep object generation for imports
  dvc/output.py
Due: mypy, pylint
